/*  About Us Home One Style  */
.about-content-box{
	position: relative;
	.title{
		font-size: 52px;
		line-height: 63px;
		margin-bottom: 10px;
	}
	.text{
		font-weight: 600;
		font-size: 20px;
		line-height: 29px;
		max-width: 90%;
		@include media-breakpoint-down(md){
			max-width: none;
		}
	}
}
.about-list-item{
	padding-left: 20px;
	position: relative;
	&:before{
		background-color: var(--theme-color1);
		border-radius: 50%;
		content: "";
		height: 8px;
		left: 0;
		position: absolute;
		top:7px;
		width: 8px;
	}
	.list-title{}
	.list-text{
		max-width: 90%;
	}
}
.about-img-box{
	position: relative;
	.img-1{
		border-radius: 24px;
	}
	.img-2{
		border-radius: 18px;
		left: 30px;
		position: absolute;
		top: 30%;
		animation: bounce-y 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
	}
}
