/*  home 1 banner style  */
.banner-image-box{
	position: relative;
	.banner-img{
		border-radius: 24px;
	}
	.counter-box{
		bottom: 250px;
		position: absolute;
		right: 0;
		.inner{
			background-color: var(--white-color);
			border-radius: 18px;
			box-shadow: 0px 3px 14px rgba(111, 111, 112, 0.156037);
			max-width: 259px;
			padding: 20px;
			position: relative;
			animation: bounce-y 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
		}
		.icon{
			background-color: var(--theme-color2);
			border-radius: 50%;
			color: var(--white-color);
			font-size: 24px;
			height: 62px;
			line-height: 62px;
			margin-right: 16px;
			text-align: center;
			width: 62px;
		}
		.text{
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 0.155556px;
			line-height: 18px;
		}
	}
	.banner-client-box{
		.inner{
			background-color: var(--white-color);
			border-radius: 18px;
			box-shadow: 0px 3px 14px rgba(111, 111, 112, 0.156037);
			max-width: 267px;
			padding: 20px;
			position: relative;
			left: 30px;
			top: -55px;
			animation: bounce-x 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
		}
		.thumb{
			margin-right: 16px;
			height: 71px;
			position: relative;
			width: 84px;
			.img-1{
				z-index: 2;
			}
			.img-1,
			.img-2,
			.img-3{
				position: absolute;
			}
			.img-2{
				bottom: 0;
				left: 20px;
				z-index: 1;
			}
			.img-3{
				right: 0;
			}
		}
		.review{
			color: var(--review-color);
			font-size: 16px;
			gap: 6px;
		}
	}
}
@keyframes bounce-y {
	50% {
		transform: translateY(-15px);
	}
}
@keyframes bounce-x {
	50% {
		transform: translateX(-15px);
	}
}
.banner-content{
	position: relative;
	.title{
		color: var(--dark-color);
		@include responsive-font(24px, 3.75vw, 72px, 1.19);
		span{
			color: var(--theme-color1);
		}
	}
	.job-tag{
		align-items: center;
		display: flex;
		font-size: 14px;
		font-weight: 500;
		gap: 7px;
		line-height: 18px;
		span{
			color: var(--dark-color);
			margin-right: 5px;
		}
		a{
			color: var(--theme-color7);
		}
	}
}

// Freelancer Banner Style
.banner-section2-home1{
	.outer-box{
		background: var(--gradient-color1);
		border-radius: 24px;
		overflow: hidden;
		padding-top: 70px;
		position: relative;
		.banner-phn{
			bottom: 0;
			left: auto;
			position: absolute;
			right: 30px;
			width: auto;
		}
		.object-1{
			position: absolute;
			right: 50px;
			top: 50px;
			width: auto;
		}
	}
}
.freelancer-banner{
	padding-left: 60px;
	position: relative;
	.title{
		color: var(--gray-lightshd-color);
		@include responsive-font(48px, 3.75vw, 80px, 1.26);
		margin-bottom: 30px;
	}
}