/***  Buttons  ***/

/*  home 3 banner style  */
.banner-3-area {
  overflow: hidden;
  .swiper-container {
    width: 100%;
    height: 100vh;
    position: relative;
    @include media-breakpoint-down(xl) {
      height: calc(100vh - 70px);
    }
  }
  .overly {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 100%);
    z-index: -1;
  }
  .container {
    height: 100vh;
    padding: 60px 0;
    position: relative;
    z-index: 2;
    @include media-breakpoint-down(xl) {
      height: calc(100vh - 70px);
    }
  }
  & .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    flex-shrink: 0;
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition-property: transform;
  }
  .banner-3-item {
    @include media-breakpoint-down(xl) {
      height: calc(100vh - 70px);
    }
    .content {
      .subtitle {
        font-size: 16px;
        font-weight: var(--font-weight-500);
        line-height: 28px;
      }
      .title {
        font-weight: var(--font-weight-500);
        letter-spacing: 0.03em;
        margin-bottom: 0;
        margin-top: 0;
        padding: 15px 0 52px 0;
        @include responsive-font(30px, 2.5vw, 40px, 1.25);
      }
    }
  }
  .swiper {
    height: 100vh;
    overflow: hidden;

    @include media-breakpoint-down(xl) {
      height: calc(100vh - 70px);
    }
  }
  .swiper-pagination {
    padding-right: 60px;
    .swiper-pagination-bullet {
      display: block;
      width: 4px;
      height: 4px;
      background: var(--white-color);
      border-radius: 12px;
      opacity: 1;
      margin: 4px 0;
    }
    .swiper-pagination-bullet-active {
      height: 16px;
    }
  }
}

/*  home 4 banner style  */
.su-banner-4-area{
  position: relative;
  z-index: 0;
}
.su-banner-4{
  &-item{
    & .bg{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    & .subtitle{
      font-weight: var(--font-weight-500);
      font-size: 16px;
      text-transform: uppercase;
      color: var(--text-white);
    }
    & .title{
      color: var(--text-white);
      font-weight: var(--font-weight-500);
      letter-spacing: 0.03em;
      margin-bottom: 20px;
      margin-top: 10px;
      @include responsive-font(30px, 2.5vw, 40px, 1.25);
    }
    & .spacing{
      padding: 316px 0px 322px 0px;
      position: relative;
      z-index: 2;
      @media (max-width: 1400px) {
        padding: 256px 0px 250px 0px;
      }
      @include media-breakpoint-down(lg) {
        padding: 156px 0px 150px 0px;
      }
      &.shop-s7{
        padding: 250px 0px;
        @include media-breakpoint-down(xl) {
          padding: 100px 0px;
        }
      }
    }
    & .overly{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    }
  }
  &-zoom{
    & .swiper-slide {
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      flex-shrink: 0;
      position: relative;
      display: block;
      overflow: hidden;
      width: 100%;
      height: 100%;
      transition-property: transform;
    }
  }
  &-navigation{
    & span{
      color: var(--text-white);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 75px;
      z-index: 9;
      @include media-breakpoint-down(lg) {
        left: 15px;
      }
    }
    & .su-banner-4-next{
      left: auto;
      right: 75px;
      @include media-breakpoint-down(lg) {
        right: 15px;
      }
    }
  }
}

/*  home 5 banner style  */
.su-banner-5-wrap{
  padding-top: 440px;
  padding-bottom: 53px;
  .title{
    font-weight: var(--font-weight-500);
    font-size: 40px;
    letter-spacing: 0.03em;
    color: var(--text-white);
  }
}
.su-salebar-5-content{
  .title{
    font-weight: var(--font-weight-600);
    font-size: 30px;
    letter-spacing: 0.03em;
    color: var(--theme-color7);
  }
  .text{
    font-weight: var(--font-weight-500);
    font-size: 14px;
    text-transform: capitalize;
    color: var(--theme-color7);
  }
}
.su-salebar-5-spacing{
  padding: 52px 60px 52px 60px;
  @include media-breakpoint-down(sm) {
    padding: 40px 30px;
  }
}
.su-sec-banner-5-style{
  .thumb{
    @include transition(.6s);
  }
  &:hover{
    .thumb{
      transform: scale(1.03);
    }
  }
  .title{
    letter-spacing: 0.03em;
  }
  .link{
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.02em;
    color: var(--dark-color);
  }
  &.home18{
    .title{
      font-size: 38px;
    }
  }
}
.su-banner-5-area{
  .swiper-container{
    z-index: 0;
  }
}
.su-banner-5-zoom{
  & .swiper-wrapper {
    z-index: 0;
  }
  & .swiper-slide {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
  }
  .overly {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    z-index: -1;
  }
  .su-banner-5-navigation span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    background: rgba(255, 255, 255, 0.3);
    @include transition(.5s);
  }
  .su-banner-5-navigation span:hover {
    background: var(--white-color);
    color: var(--text-black);
  }
  .su-banner-5-prev {
    left: 40px;
  }
  @media (max-width: 991.98px) {
    .su-banner-5-prev {
      left: 20px;
    }
  }
  .su-banner-5-next {
    right: 40px;
    left: auto;
  }
  @media (max-width: 991.98px) {
    .su-banner-5-next {
      right: 20px;
    }
  }
}

/*  home 7 banner style  */
.su-banner-7-spacing{
  padding-top: 476px;
  padding-bottom: 110px;
  position: relative;
  @media #{$lg,$md,$sm,$xs} {
    padding-top: 300px;
  }
  @media #{$xs} {
    padding-top: 200px;
    z-index: 1;
  }
}
.su-banner-7-content{
  .subtitle{
    font-weight: var(--font-weight-500);
    font-size: 14px;
    color: var(--black-color);
  }
  .title{
    font-weight: var(--font-weight-500);
    font-size: 40px;
    letter-spacing: 0.03em;
    color: var(--black-color);
    line-height: 1.3;
  }
}
.su-sec-banner-7-item{
  padding: 230px 30px 55px 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media #{$lg,$md,$sm,$xs} {
    padding: 200px 30px 40px 30px;
  }
  .subtitle{
    font-weight: var(--font-weight-500);
    font-size: 14px;
    color: var(--black-color);
  }
  .title{
    font-weight: var(--font-weight-500);
    font-size: 24px;
    letter-spacing: 0.03em;
    color: var(--black-color);
    margin-top: 5px;
    margin-bottom: 25px;
  }
  .sec-btn{
    font-weight: var(--font-weight-600);
    font-size: 13px;
    letter-spacing: 0.02em;
    color: var(--black-color);
  }
}

/*  home 8 banner style  */
.su-banner-8-wrap{
  .su-banner-8-active{
    height: 800px;
    border-radius: 24px;
    @media #{$xl,$lg} {
      height: 700px;
    }
    @media #{$md,$sm} {
      height: 600px;
    }
    @media #{$xs} {
      height: 450px;
    }
    .su-content{
      position: absolute;
      z-index: 99;
      bottom: 95px;
      left: 100px;
      @media #{$sm,$xs} {
        bottom: 45px;
        left: 40px;
      }
      .subtitle{
        font-weight: var(--font-weight-500);
        font-size: 16px;
        text-transform: uppercase;
        color: var(--text-white);
      }
      .title{
        font-family: var(--marcellus-font);
        font-weight: var(--font-weight-400);
        font-size: 50px;
        letter-spacing: 0.03em;
        color: var(--text-white);
        margin-top: 5px;
        margin-bottom: 53px;
        @media #{$sm,$xs} {
          font-size: 30px;
          margin-bottom: 23px;
        }
      }
    }
  }
  .bg{
    ::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
  .thumb {
    border-radius: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation: zoom 20s ease-in-out infinite;
    animation: zoom 20s ease-in-out infinite;
  }
}
.su-banner-8-sec-wrap{
  .su-categories-8-item{
    padding: 505px 30px 58px 60px;
    border-radius: 24px;
    @media #{$xs} {
      padding: 205px 30px 28px 20px;
    }
  }
}

/*  home 11 banner style  */
.banner-11-area {
  .banner-11-item {
    .overly {
      display: none;
    }
    .spacing {
      padding: 208px 50px;
      @include media-breakpoint-down(xl) {
        padding: 150px 30px;
      }
      @include media-breakpoint-down(sm) {
        padding: 100px 30px;
      }
      .content {
        max-width: 469px;
        @include media-breakpoint-down(xl) {
          max-width: 100%;
        }
      }
    }
    .title {
      font-family: var(--jost-font);
      @include responsive-font(40px, 3.75vw, 60px, 1.45);
      font-weight: var(--font-weight-500);
      line-height: normal;
      letter-spacing: 0.03em;
    }
  }
}

/*  home 14 banner style  */
.su-banner-14-area {
  .swiper-slide {
    @include swiper-Slide-TZ;
  }
  .bg {
    border-radius: 40px;
    @include media-breakpoint-down(lg){
      border-radius: 20px;
    }
  }
  .spacing {
    padding: 240px 0px 276px 0px;
    position: relative;
    z-index: 2;
    @include media-breakpoint-down(xxl){
      padding: 207px 0px 207px 0px;
    }
    @include media-breakpoint-down(md){
      padding: 150px 0px 150px 0px;
    }
    @include media-breakpoint-down(sm){
      padding: 120px 0px 120px 0px;
    }
  }
  .overly {
    background: var(--dark-color);
    border-radius: 40px;
    opacity: 0.2;
  }
  .title {
    color: var(--white-color);
    font-family: var(--opensans-font);
    font-weight: var(--font-weight-700);
    @include responsive-font(40px, 5.62vw, 90px, 1.36);
    letter-spacing: 0.03em;
  }
  .sub-title {
    color: var(--white-color);
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: var(--font-weight-400);
    line-height: 62px;
    letter-spacing: 0.03em;
    @include responsive-font(26px, 3.12vw, 50px, 1.24);
  }
  .su-btn-4 {
    font-family: var(--opensans-font);
    font-weight: var(--font-weight-500);
  }
  .swiper-pagination-14 {
    margin-top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 38px;
    z-index: 9;
    & .swiper-pagination-bullet {
      width: 40px;
      height: 2px;
      background: var(--white-color);
      @include transition(.5s);
      opacity: 1;
      margin: 0 3px;
      position: relative;
      border-radius: 0;
    }
    & .swiper-pagination-bullet-active {
      background: var(--dark-color);
    }
  }
  
  /*  home 10 banner style  */
  &.banner-10-area {
    .spacing {
      padding: 322px 0;
    }
    .sub-title {
      font-size: 16px;
      font-weight: var(--font-weight-500);
      font-family: var(--jakarta-font);
      line-height: 28px;
    }
    .title {
      font-weight: var(--font-weight-500);
      font-family: var(--jakarta-font);
      letter-spacing: 0.03em;
      line-height: normal;
      margin-bottom: 30px;
      @include responsive-font(30px, 2.5vw, 40px, 1.25);
    }
    .pagination-10 {
      bottom: 60px;
    }
  }
  &.shop-s9{
    .swiper-pagination-14{
      bottom: 0;
      .swiper-pagination-bullet{
        background: var(--gray-color);
        border-radius: 12px;
        height: 4px;
        width: 4px;
        &.swiper-pagination-bullet-active {
          background: var(--dark-color);
          height: 4px;
          width: 16px;
        }
      }
    }
  }
  &.home17-style{
    .content{
      padding: 565px 0 110px;
      padding-left: 40px;
      @include media-breakpoint-down(xxl){
        padding: 300px 0px 110px;
        padding-left: 0;
      }
      @include media-breakpoint-down(sm){
        padding: 200px 0px 110px;
      }
      position: relative;
      z-index: 1;
      .text{
        color: var(--white-color);
        font-optical-sizing: auto;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 30px;
        max-width: 440px;
      }
    }
    .title {
      color: var(--white-color);
      font-family: var(--marcellus-font);
      font-weight: var(--font-weight-400);
      @include responsive-font(32px, 3.12vw, 70px, 1.25);
      margin-bottom: 15px;
    }
    .swiper-pagination-14 {
      bottom: 80px;
      display: flex;
      margin-top: 0;
      width: 10%;
      z-index: 9;
      @include media-breakpoint-down(xxl){
        width: 20%;
      }
      & .swiper-pagination-bullet {
        background: var(--white-color);
        border-radius: 50px;
        height: 4px;
        margin: 0 3px;
        opacity: .5;
        position: relative;
        width: 4px;
        @include transition(.5s);
      }
      & .swiper-pagination-bullet-active {
        background: var(--white-color);
        border-radius: 12px;
        opacity: 1;
        width: 16px;
      }
    }
  }
}

/*  home 15 banner style  */
.su-banner-15-area {
  & .spacing {
    padding: 289px 0px 304px 0px;
    @include media-breakpoint-down(xxl) {
      padding: 230px 0px 230px 0px;
    }
    @include media-breakpoint-down(xl) {
      padding: 180px 0px 180px 0px;
    }
    @include media-breakpoint-down(md) {
      padding: 120px 0px 120px 0px;
    }
  }
  & .title {
    font-family: var(--libre-font);
    color: var(--text-white);
    @include responsive-font(40px, 4.37vw, 70px, 1.2);
    font-weight: var(--font-weight-400);
    margin-bottom: 45px !important;
    @include media-breakpoint-down(sm) {
      margin-bottom: 25px !important;
    }
  }
  & .overly {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 100%);
  }
  & .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    flex-shrink: 0;
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition-property: transform;
  }
  & .swiper-pagination {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 40px;
    right: 0;
    padding-right: 60px;
    @include media-breakpoint-down(lg) {
      padding-right: 24px;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
    & .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: var(--white-color);
      @include transition(.5s);
      opacity: 1;
      margin: 14px 0px;
      position: relative;
      &::before {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid rgba($theme-color-white, 0.3);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        @include transition(.4s);
        opacity: 0;
      }
      &::after {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid var(--white-color);
        border-right: 1px solid transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-160deg);
        content: "";
        @include transition(0.4s);
        opacity: 0;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
        &::after {
          opacity: 1;
          transform: translate(-50%, -50%) rotate(-140deg);
        }
      }
    }
    & .swiper-pagination-bullet-active {
      &::before {
        opacity: 1;
      }
      &::after {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-140deg);
      }
    }
  }
}

/*  home 16 banner style  */
.su-banner-16-area {
  @include media-breakpoint-down(xl) {
    margin-top: 0;
  }
  & .title {
    color: var(--text-white);
    font-family: var(--lora-font);
    font-weight: var(--font-weight-400);
    margin-bottom: 10px;
    @include responsive-font(30px, 4.37500vw, 70px, 1.2);
  }
  & .subtitle {
    font-family: var(--outfit-font);
    color: var(--text-white);
    font-size: 18px;
    font-weight: var(--font-weight-400);
    margin-bottom: 50px;
    text-transform: capitalize;
    @include media-breakpoint-down(lg) {
      margin-bottom: 30px;
    }
  }
  & .spacing {
    padding: 481px 0px 74px 0px;
    @include media-breakpoint-down(xl) {
      padding: 381px 0px 74px 0px;
    }
    @include media-breakpoint-down(lg) {
      padding: 281px 0px 60px 0px;
    }
  }
  & .overly {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 100%);
  }
  & .swiper-slide {
    @include swiper-Slide-TZ;
  }
  & .su-banner-16-navigation {
    & span {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      line-height: 50px;
      background: rgba($theme-color-white, 0.3);
      @include transition(.5s);
      &:hover {
        background: var(--white-color);
        color: var(--text-black);
      }
    }
  }
  & .su-banner-16-prev {
    left: 40px;
    @include media-breakpoint-down(lg) {
      left: 20px;
    }
  }
  & .su-banner-16-next {
    right: 40px;
    left: auto;
    @include media-breakpoint-down(lg) {
      right: 20px;
    }
  }
  & .swiper-pagination {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    & .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: var(--dark-color);
      @include transition(0.5s);
      opacity: 1;
      margin: 0 14px;
      position: relative;
      &::before {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid var(--gray-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        @include transition(0.4s);
        opacity: 0;
      }
      &::after {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid var(--dark-color3);
        border-right: 1px solid transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-160deg);
        content: "";
        @include transition(0.4s);
        opacity: 0;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
        &::after {
          opacity: 1;
          transform: translate(-50%, -50%) rotate(-140deg);
        }
      }
    }
    & .swiper-pagination-bullet-active {
      &::before {
        opacity: 1;
      }
      &::after {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-140deg);
      }
    }
  }    
  &.banner-12 {
    .overly {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.00) 100%);
    }
    .spacing {
      padding: 425px 60px 296px;
      @include media-breakpoint-down(xxl) {
        padding: 341px 60px 226px;
      }
      @include media-breakpoint-down(xl) {
        padding: 220px 30px 220px;
      }
      @include media-breakpoint-down(xl) {
        padding: 130px 0 130px;
      }
    }
    .subtitle {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.48px;
      font-family: var(--dmsans-font);
      margin-bottom: 10px;
    }
    .title {
      color: var(--theme-color17);
      font-family: var(--dmsans-font);
      font-style: normal;
      font-weight: 700;
      margin-bottom: 0;
      letter-spacing: 0.03em;
      @include responsive-font(50px, 5.62vw, 90px, 1.3);
      @include media-breakpoint-down(xxl) {
      }
    }
    .short-info {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.48px;
      font-family: var(--dmsans-font);
    }
    .swiper-pagination {
      margin-top: 0;
      bottom: 50px;
      .swiper-pagination-bullet {
        background: var(--white-color);
        &::after {
          border-color: var(--white-color);
          border-right: 1px solid transparent;
        }
        &::before {
          border-color: rgba($theme-color-white, 0.2);
        }
      }
    }
  }
  &.banner-13 {
    .spacing {
      padding: 559px 0px 102px 0px;
      @include media-breakpoint-down(xxl) {
        padding: 359px 0px 72px 0px;
      }
      @include media-breakpoint-down(sm) {
        padding: 209px 0px 72px 0px;
      }
    }
    .overly {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 100%);
    }
    .subtitle {
      font-family: var(--bebas-font);
      line-height: normal;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    .title {
      font-size: 80px;
      font-family: var(--bebas-font);
      font-weight: var(--font-weight-700);
      line-height: normal;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      @include responsive-font(36px, 5vw, 80px, 1);
    }
    .su-btn-4-black {
      font-family: var(--bebas-font);
      font-size: 18px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.9px;
    }
  }
  &.banner-2 {
    .overly {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%);
    }
    .spacing {
      padding: 355px 0 85px 0;
      @include media-breakpoint-down(xl) {
        padding: 155px 0 85px 0;
      }
    }
    .play-btn {
      font-size: 13px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.26px;
      width: 150px;
      height: 150px;
      border: 1px solid var(--white-color);
      color: var(--white-color);
      @include transition(0.4s);
      margin-bottom: 160px;
      @include media-breakpoint-down(xl) {
        margin-bottom: 80px;
      }
      &:hover {
        background: var(--white-color);
        color: var(--dark-color);
        border-color: var(--white-color);
      }
    }
    .title {
      font-family: var(--marcellus-font);
      font-size: 50px;
      font-weight: 400;
      line-height: normal;
    }
    .banner-btn-group {
      gap: 60px;
    }
  }
  &.banner-6 {
    background: var(--theme-color11);
    .su-banner-4-item {
      height: 760px;
      .bg {
        max-width: 1122px;
        @include media-breakpoint-down(md) {
          position: relative;
        }
      }
      .collection-item {
        background: var(--theme-color11);
        max-width: 798px;
        padding: 257px 0;
        position: absolute;
        top: 0;
        width: 100%;
        @include media-breakpoint-down(xl) {
          max-width: 500px;
        }
        @include media-breakpoint-down(lg) {
          max-width: 300px;
        }
        @include media-breakpoint-down(md) {
          bottom: 0;
          height: auto !important;
          max-width: none;
          padding: 50px 0;
          top: auto;
        }
        .text {
          max-width: 272px;
          margin: 0 auto;
          .subtitle {
            color: var(--dark-color);
            font-size: 16px;
            font-weight: var(--font-weight-500);
            line-height: 28px;
            text-transform: uppercase;
            font-family: var(--jakarta-font);
          }
          .title {
            color: var(--dark-color);
            font-size: 40px;
            font-weight: var(--font-weight-500);
            line-height: normal;
            letter-spacing: 1.2px;
            font-family: var(--jakarta-font);
          }
          .su-btn-4 {
            background: var(--theme-color26);
          }
        }
      }
    }
  }
}

/*  home 18 banner style  */
.home18-img-banner{
  position: relative;
  img{
    @include transition(.6s);
    @include media-breakpoint-down(md) {
      height: 450px;
    }
    @media (max-width: 475.98px) {
      height: 320px;
    }
  }
  &:hover{
    img{
      transform: scale(1.03);
    }
  }
  .content-over-image{
    bottom: 0;
    max-width: 780px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
  .title{
    @include responsive-font(30px, 3.75vw, 60px, 1.45);
  }
  &.home17-style{
    .content-over-image{
      bottom: 50px;
      left: 60px;
      @include media-breakpoint-down(sm) {
        bottom: 30px;
        left: 30px;
      }
    }
    &.large-size{
      .content-over-image{
        bottom: 70px;                
        left: 80px;
        @include media-breakpoint-down(lg) {
          bottom: 40px;
          left: 40px;
        }
      }
    }
  }
  &.home20-style{
    .content-over-image{
      max-width: 770px;
    }
    .title{
      color: var(--headings-color);
      font-family: var(--roboto-font);
      font-weight: 700;
      text-transform: uppercase;
      @include responsive-font(30px, 3.12vw, 50px, 1.18);
    }
    .text{
      color: var(--headings-color);
      font-family: var(--roboto-font);
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 26px;
    }
  }
  &.home20-style2{
    .content-over-image{
      bottom: 50px;
      left: 50px;
      @include media-breakpoint-down(lg) {
        bottom: 20px;
        left: 20px;
      }
    }
    .title{
      font-weight: 700;
      @include responsive-font(20px, 2.5vw, 40px, 1.17);
      @include media-breakpoint-down(lg) {
        max-width: 90%;
      }
    }
    .price{
      font-weight: var(--font-weight-500);
      font-size: 20px;
    }
  }
  &.center-bottom{
    .content-over-image{
      bottom: 100px;
      left: 0;
      margin: 0 auto;
      right: 0;
      @include media-breakpoint-down(lg) {
        max-width: none;
        bottom: 30px;
        width: auto;
      }
    }
    @media (max-width: 475.98px){
      img{
        height: 400px;
        object-fit: cover;
      }
    }
  }
  &.left-style{
    .content-over-image{
      left: 0;
      right: auto;
      @include media-breakpoint-down(lg) {
        max-width: none;
        left: 30px;
        top: 30px;
        width: auto;
      }
    }
    @media (max-width: 475.98px){
      img{
        height: 400px;
        object-fit: cover;
      }
    }
  }
  &.top-right{
    .content-over-image{
      right: -30px;
      top: 90px;
      @include media-breakpoint-down(lg) {
        max-width: none;
        right: 30px;
        top: 30px;
        width: auto;
      }
    }
    @media (max-width: 475.98px){
      img{
        height: 400px;
        object-fit: cover;
      }
    }
  }
}

.promo-box{
  background-color: var(--gray-color-2);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  .thumb{
    width: 45%;
    @include media-breakpoint-down(md) {
      width: auto;
    }
    img{
      height: 100%;
      object-fit: cover;
    }
  }
  .pb-content{
    padding: 55px 60px;
    width: 55%;
    @include media-breakpoint-down(md) {
      width: auto;
    }
    @include media-breakpoint-down(sm) {
      padding: 40px;
    }
  }
  .title{
    font-size: 22px;
    line-height: 32px;
  }
  .text{
    font-size: 16px;
    line-height: 28px;
  }
}

/*  home 18 banner style  */
.home18-banner{
  position: relative;
  & .swiper-slide {
    @include swiper-Slide-TZ;
  }
  & .swiper-pagination {
    bottom: 40px;
    right: calc(20% + 0px);
    width: auto;
    @include media-breakpoint-down(lg) {
      bottom: calc(40% + 30px);
      left: 0;
      right: 0;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
    & .swiper-pagination-bullet {
      background: var(--white-color);
      border-radius: 50%;
      height: 8px;
      margin: 0 15px;
      opacity: 1;
      position: relative;
      @include transition(.5s);
      width: 8px;
      &::before {
        border-radius: 50%;
        border: 1px solid rgba($theme-color-white, 0.3);
        content: "";
        height: 28px;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        @include transition(.4s);
        width: 28px;
      }
      &::after {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid var(--white-color);
        border-right: 1px solid transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-160deg);
        content: "";
        @include transition(0.4s);
        opacity: 0;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
        &::after {
          opacity: 1;
          transform: translate(-50%, -50%) rotate(-140deg);
        }
      }
    }
    & .swiper-pagination-bullet-active {
      &::before {
        opacity: 1;
      }
      &::after {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(-140deg);
      }
    }
  }
  &.home23-style{
    & .swiper-pagination{
      right: calc(45% + 0px);
      @media (max-width: 1199.98px){
        bottom: 20px;
        right: calc(0px + 0px);
      }
    }
    .banner18-items{
      .slider-content{
        @media (max-width: 1199.98px){
          padding: 50px 0 70px;
        }
      }
      .image img{
        @media (max-width: 1399.98px){
          height: 860px;
        }
        @media (max-width: 1199.98px){
          height: 560px;
        }
      }
    }
    .shadow-text{
      bottom: 100px;
      color: transparent;
      font-family: var(--marcellus-font);
      font-style: normal;
      font-weight: 400;
      position: absolute;
      text-align: center;      
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: var(--white-color);
      opacity: 0.15;
      @include responsive-font(50px, 16.25vw, 260px, 1.25);
      z-index: 2;
      @include media-breakpoint-down(xl) {
        display: none;
      }
    }
  }
}

.banner18-items{
  align-items: center;
  display: flex;
  overflow: hidden;
  @include media-breakpoint-down(lg) {
    display: block;
  }
  .image{
    width: 50%;
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
    img{
      object-fit: cover;
      height: 100%;
    }
  }
  .slider-content{
    align-items: center;
    display: flex;
    justify-content: center;
    @include media-breakpoint-down(lg) {
      padding: 30px 30px 50px;
    }
    .title{
      color: var(--dark-color4);
      font-family: var(--jost-font);
      font-weight: var(--font-weight-400);
      @include responsive-font(40px, 3.75vw, 60px, 1.45);
    }
    .text{
      color: var(--dark-color4);
      font-family: var(--jost-font);
      font-size: 16px;
      line-height: 26px;
    }
  }
  &.style2{
    background-color: var(--theme-color37);
  }
}

/*  home 19 banner style  */
.banner-19-area {
  height: 882px;
  position: relative;
  &:before{
    background-color: rgba(var(--black-color-rgb), 0.4);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  @include media-breakpoint-down(xxl) {
    height: 682px;
  }
  @include media-breakpoint-down(sm) {
    height: 582px;
  }
  video {
    width: 100%;
    object-fit: cover;
  }
  .content {
    bottom: 100px;
    max-width: 600px;
    padding: 0 12px;
    width: 100%;
    @include media-breakpoint-down(xxl) {
      bottom: 50px;
    }
    @include media-breakpoint-down(md) {
      bottom: 80px;
    }
    .title {
      font-family: var(--cormorant-font);
      font-size: 70px;
      font-weight: 400;
      line-height: normal;
      @include media-breakpoint-down(md) {
        font-size: 50px;
      }
    }
    .text {
      max-width: 378px;
      margin: 0 auto;
      font-family: var(--jost-font);
      font-size: 16px;
      line-height: 26px;
    }
  }
  .control-video {
    bottom: 30px;
    right: 30px;
    i {
      font-size: 30px;
      color: var(--white-color);
    }
  }
  &.video-banner-13 {
    height: 860px;
    @include media-breakpoint-down(xl) {
      height: 726px;
    }
    @include media-breakpoint-down(sm) {
      height: 626px;
    }
    .content {
      max-width: 950px;
      bottom: unset;
      top: 50%;
      transform: translateY(-50%);
      .text {
        max-width: 100%;
        font-family: var(--bebas-font);
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.9px;
        text-transform: uppercase;
      }
      .title {
        font-family: var(--bebas-font);
        @include responsive-font(40px, 5vw, 80px, 1);
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.05em;
      }
      .su-btn-4-black {
        font-family: var(--bebas-font);
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.9px;
      }
    }
  }
}

/*  home 20 banner style  */
.home20-banner{
  .swiper-slide {
    @include swiper-Slide-TZ;
  }
  .home20-banner-item{
    align-items: center;
    display: flex;
    height: 880px;
    @include media-breakpoint-down(lg) {
      height: 680px;
    }
    .banner-content{
      padding-left: 50px;
      padding-right: 50px;
      @include media-breakpoint-down(xl) {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
    .title{
      color: var(--dark-color);
      font-family: var(--roboto-font);
      font-weight: 700;
      @include responsive-font(30px, 3.12vw, 50px, 1.18);
      text-transform: uppercase;
    }
    .text{
      color: var(--dark-color);
      font-family: var(--roboto-font);
      font-weight: 400;
      font-size: 15px;
      line-height: 26px;
    }
    .btn-wrapper{
      max-width: 220px;
    }
  }
}

.banner-bottom-home20 {
  .thumb { 
    img {
      width: 100%;
    }
  }
  .wrp{
    position: relative;
  }
  .bb-content {
    bottom: 70px;
    left: 60px;
    position: absolute;
    @include media-breakpoint-down(lg) {
      bottom: 40px;
      left: 30px;
    }
    .title {
      color: var(--white-color);
      @include responsive-font(28px, 2.5vw, 40px, 1.17);
      font-weight: 700;
      line-height: 47px;
    }
    .text {
      color: var(--white-color);
      font-size: 15px;
      font-weight: 400;
      line-height: 60px;
    }
    .btn-wrp {
      .theme-btn {
        border: 0;
        border-radius: 0;
        padding: 20px 40px;
      }
    }
  }
}

.sale-banner-item {
  &.style20 {
    display: inline-flex;
    height: 485px;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include media-breakpoint-down(xl) {
      margin-bottom: 30px;
    }
    .sale-banner-content {
      text-align: center;
      margin: auto 0;
      padding: 0px 60px;
      @include media-breakpoint-down(xxl) {
        font-size: 10px;
      }
      @include media-breakpoint-down(md) {
        padding: 0 20px;
      }
      .thumb-wrapper {
        .thumb {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          img {
            width: 120px;
            height: 89.427px;
            object-fit: contain;
          }
        }
      }
      .crocs {
        display: inline-block;
        color: var(--white-color);
        font-weight: 700;
        font-size: 33px;
        text-transform: lowercase;
        letter-spacing: 0.29px;
        font-family: var(--jost-font);
      }
      .sub-title{
        color: var(--dark-color);
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        @include responsive-font(24px, 1.87vw, 30px, 1.16);
      }
      .title {
        color: var(--dark-color);
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        @include responsive-font(40px, 3.125vw, 50px, 1.18);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-down(md) {
          font-size: 60px;
          span {
            font-size: 20px;
          }
        }
        &.large{
          @include responsive-font(60px, 7.5vw, 120px, 1.175);
        }
        span {
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          line-height: 36px;
          text-transform: capitalize;
          display: inline-block;
          letter-spacing: .54px;
          text-align: left;
          margin-left: 15px;
          margin-top: 8px;
        }
        sup {
          font-size: 50px;
          @include media-breakpoint-down(md) {
            font-size: 30px;
          }
        }
      }
      .title2{
        color: var(--white-color);
        font-style: normal;
        font-weight: 700;
        @include responsive-font(40px, 3.75vw, 60px, 1.16);
      }
      .text {
        font-style: normal;
        font-size: 15px;
        line-height: 26px;
        color: var(--dark-color); 
      }
      .text-2{
        color: var(--white-color);
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
      }
    }
  }
  &.card_1 {
    background: #DCB3F6;
    .sub-title{
      color: var(--dark-color);
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
      @include responsive-font(24px, 1.87vw, 30px, 1.16);
    }
    .title{
      color: var(--dark-color);
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      @include responsive-font(40px, 3.125vw, 50px, 1.18);
    }
  }
  &.card_2 {
    background: #ED903C;
    .sale-banner-content {
      .sub-title {
        color: var(--white-color);
      }
      .text {
        color: var(--white-color);
      }
    }
  }
  &.card_3 {
    background: #F3C3CF;
    .sale-banner-content {
      .black-btn {
        padding: 15px;
        margin-top: 60px;
        margin-bottom: 40px;
      }
    }
  }
  &.card_4 {
    background: #6398D9;
    .sale-banner-content {
      .text {
        color: var(--white-color);
        padding-top: 0; 
      }
      .title {
        &.large{
          color: var(--white-color);
        }
      }
    }
  }
}
/*  home 21 banner style  */
.home21-banner{
  .swiper-slide {
    @include swiper-Slide-TZ;
  }
  .home21-banner-item{
    align-items: end;
    display: flex;
    height: 860px;
    @include media-breakpoint-down(lg) {
      height: 660px;
    }
    .banner-content{
      padding-bottom: 95px;
    }
    .title{
      color: var(--white-color);
      font-weight: var(--font-weight-500);
      @include responsive-font(30px, 3.12vw, 50px, 1.3);
      text-transform: uppercase;
    }
    .sub-title{
      color: var(--white-color);
      font-weight: 400;
      font-size: 15px;
      line-height: 26px;
    }
  }
}

.banner-slider-wrapper {
  &.style21_2 {
    .banner-slider-item {
      padding: 600px 0 60px 0;
      @include media-breakpoint-down(xxl) {
        padding-top: 400px;
      }
      @include media-breakpoint-down(md) {
        padding-top: 300px;
      }
    }
  }
  .banner-slider-item {
    &.style21 {
      padding: 600px 0 60px;
      @include media-breakpoint-down(xxl) {
        padding: 400px 0 60px 0;
      }
      @include media-breakpoint-down(md) {
        padding: 300px 0 60px 0;
      }
      .banner-slider-content {
        text-align: center;
        .title {
          font-size: 50px;
          font-style: normal;
          font-weight: var(--font-weight-500);
          line-height: 65px;
          text-transform: uppercase;
          color: var(--white-color);
          @include media-breakpoint-down(xl) {
            font-size: 46px;
          }
          @include media-breakpoint-down(md) {
            font-size: 36px;
            line-height: 40px;
          }
          @include media-breakpoint-down(sm) {
            font-size: 28px;
            line-height: 36px;
          }
        }
        .subtitle {
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
          padding-bottom: 8px;
          color: var(--white-color);
          
          @include media-breakpoint-down(sm) {
            padding-bottom: 6px;
          }
        }
        .banner-btn-wrapper {
          padding-top: 4px;
          a {
            color: var(--white-color);
          }
        }
      }
    }
  }
  &.style24 {
    .swiper-container-horizontal > .swiper-pagination-bullets{
      bottom: 60px;
      left: 142px;
      width: 185px;
      @include media-breakpoint-down(lg) {
        left: 30px;
      }
      @include media-breakpoint-down(md) {
      }
      @include media-breakpoint-down(sm) {
        left: 15px;
      }
    }
    .swiper-pagination-bullet {
      background: transparent;
      color: var(--white-color);
      font-family: var(--jost-font);
      font-size: 15px;
      font-style: normal;
      font-weight: var(--font-weight-500);
      height: 2px;
      line-height: 20px;
      margin-right: 20px;
      opacity: 0.9;
      text-align: center;
      width: 20px;
    }
    .swiper-pagination-bullet-active {
      background: var(--white-color);
      color: var(--white-color);
    }
  }
}

.banner-bottom {
  &.style21 {
    margin-top: 10px;
    .banner-bottom-wrapper {
      position: relative;
      @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
      }
      .banner-bottom-content {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 60px;
        text-align: center;

        @include media-breakpoint-down(lg) {
          bottom: 40px;
          left: 4%;
          transform: translateX(0);
          text-align: left;
        }
        h3 {
          font-size: 40px;
          font-style: normal;
          font-weight: var(--font-weight-500);
          line-height: 56px;
          text-transform: uppercase;
          padding-bottom: 8px;
          color: var(--white-color);

          @include media-breakpoint-down(lg) {
            font-size: 30px;
            line-height: 42px;
          }

          @include media-breakpoint-down(md) {
            font-size: 24px;
            line-height: 30px;
          }

          @include media-breakpoint-down(sm) {
            font-size: 20px;
            line-height: 28px;
            padding-bottom: 0px;
          }
        }
        p {
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
          text-transform: uppercase;
          color: var(--white-color);
          padding-bottom: 8px;

          @include media-breakpoint-down(lg) {
            padding-bottom: 8px;
          }
          @include media-breakpoint-down(sm) {
            padding-bottom: 0px;
          }
        }
        .banner-btn-wrapper {
          a {
            font-size: 13px;
            font-style: normal;
            font-weight: var(--font-weight-500);
            line-height: normal;
            letter-spacing: 0.26px;
            color: var(--white-color);
          }
        }
      }
    }
  }
  &.style21_2 {
    .banner-bottom-thumb {
      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }
    .banner-bottom-content {
      max-width: 400px;
      margin-left: auto;
      margin-right: 60px;
      max-height: 320px;
      @include media-breakpoint-down(xxl) {
        margin-right: 0;
        margin-left: 20px;
      }
      @include media-breakpoint-down(md) {
        margin: 60px auto 60px 20px;
      }
      .title {
        font-size: 50px;
        font-style: normal;
        font-weight: var(--font-weight-500);
        line-height: normal;
        text-transform: uppercase;
        color: var(--dark-color);
        padding-bottom: 16px;
        letter-spacing: 0;
        @include media-breakpoint-down(xl) {
          font-size: 40px;
          line-height: 50px;
          padding-bottom: 10px;
          br {
            display: none;
          }
        }
        @include media-breakpoint-down(sm) {
          font-size: 30px;
          line-height: 40px;
        }
      }
      .subtitle {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: var(--dark-color);
        padding-bottom: 30px;
      }
      a {
        color: var(--dark-color);
      }

    }
  }
}

/*  home 22 banner style  */
.intro-wrapper {
  &.style22 {
    .banner-item-wrapper {
      &.style22 {
        .main-banner-item {
          &.style22 {
            position: relative;
            .thumb {
              overflow: hidden;
              img {
                width: 100%;
              }
              @include media-breakpoint-down(lg) {
                margin-bottom: 10px;
              }
            }
            .content {
              position: absolute;
              left: 60px;
              bottom: 60px;
              text-align: left;
              @include media-breakpoint-down(sm) {
               left: 30px;
               bottom: 30px;
             }
             .title {
              color: var(--white-color);
              font-size: 30px;
              font-style: normal;
              font-weight: var(--font-weight-500);
              line-height: normal;
              text-transform: uppercase;
              padding-bottom: 8px;
              letter-spacing: 1.29px;
              line-height: 36px;
              @include media-breakpoint-down(sm) {
                font-size: 24px;
                line-height: 30px;
              }
            }
            .banner-btn-wrapper {
              a {
                color: var(--white-color);
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: .29px;
              }
            }
          }
        }
      }
    }
  }
}
}

/*  home 23 banner style  */
.banner-slider-item {
  &.style23{
    position: relative;
    .banner-content {
      &.style23 {    
        .banner-slider-left {
          max-width: 494px;
          margin: 0 auto;
          text-align: center;
          position: relative;
          z-index: 9;
          @include media-breakpoint-down(lg) {
            margin-bottom: 30px;
          }
          .banner-btn-wrapper {
            padding-top: 18px;    
            a {
              font-size: 13px;
              font-style: normal;
              font-weight: var(--font-weight-500);
              line-height: normal;
              letter-spacing: 0.26px;
              color: var(--white-color);    
              span {
                padding-left: 4px;
              }
            }
          }
        }    
      }    
    }
    .large-text-box {
     position: absolute;
     left: 0;
     bottom: 120px;
     
     .large-text {
      font-size: 260px;
      font-weight: 400;
      text-transform: uppercase;
      color: transparent;
      -webkit-text-stroke: 1px white;
      white-space: nowrap;
      z-index: 1;
      opacity: 0.15;
    }
  }
}
  &.style24 {
    align-items: center;
    background-size: cover;
    display: flex;
    height: 800px;
    @include media-breakpoint-down(xl) {
    }
    @include media-breakpoint-down(lg) {
      height: 600px;
    }
    @include media-breakpoint-down(md) {
      padding-left: 30px;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 12px;
    }
    .banner-slider-content {
      padding-left: 165px;
      @include media-breakpoint-down(lg) {
        padding-left: 40px;
      }
      @include media-breakpoint-down(sm) {
        padding-left: 10px;
      }
      .subtitle {
        color: var(--white-color);
        font-family: var(--title-font-4);
        font-size: 12px;
        font-style: normal;
        font-weight: var(--font-weight-500);
        line-height: 22px;
        text-transform: uppercase;
        padding-bottom: 8px;
      }
      .title {
        color: var(--white-color);
        font-weight: 400;
        padding-bottom: 26px;
        @include responsive-font(28px, 3.75vw, 60px, 1.45);
        @include media-breakpoint-down(md) {
          padding-bottom: 20px;
        }
      }
      .banner-btn-wrapper {
        .su-btn-4-border {
          padding: 18px 40px;
          font-family: var(--jost-font);
          i {
            padding-left: 4px;
          }
          @include media-breakpoint-down(sm) {
            padding: 16px 10px;
          }
        }
      }
    }
  }
}

.banner-slider-nav{
  &.style23{
    .swiper-pagination-bullet {
      background-color: var(--white-color);
      opacity: 1;
      padding: 4px;
      position: relative;
      margin: 0 10px 10px 10px;
      &::after{
        position: absolute;
        height: 28px;
        width: 28px;
        border: 1px solid var(--white-color);
        content: "";
        background-color: transparent;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s all ease-in-out;
      }
    }
    .swiper-pagination-bullet-active {
      &::after{
        opacity: 1;
        visibility: visible;
      } 
    }
  }
}
.new-arrival-slider-wrapper{
  &.style23{
    margin-right: -80px;
    overflow: visible;
  }
}