
/*
 * blog.scss
 * -----------------------------------------------
*/

// Home 4 Blog Style
.su-blog-4-item{
    background: var(--text-gray-2);
    img{
        @include transition(.4s);
    }
    &:hover{
        & img{
            transform: scale(1.1);
        }
    }
    .content{
        padding: 0px 40px 0px 0px;
    }
    .title{
        color: var(--dark-color);
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .text{
        color: var(--dark-color);
        font-size: 14px;
        font-weight: 500;
        line-height: 28px;
    }
}
.su-blog-4-slider{
    margin-right: -180px;
    @include media-breakpoint-down(lg) {
        margin-right: 0;
    }
}
.su-blog-4-scrool{
    margin-top: 60px;
    .swiper-scrollbar{
        width: 100%;
        height: 3px;
        background: var(--text-gray-2);
    }
    .swiper-scrollbar-drag {
        background: var(--dark-color);
    }
    .swiper-scrollbar-2{
        width: 100%;
        height: 3px;
        background: var(--text-gray-2);
    }
}
.su-blog-4-navigation{
    span{
        border-radius: 50px;
        border: 1px solid transparent;
        width: 40px;
        height: 40px;
        line-height: 33px;
        text-align: center;
        display: inline-block;
        @include transition(.4s);
        &:hover{
            border: 1px solid #e6e6e6;
        }
    }
}

// Home 7 Blog Style
.su-blog-7-item{
    &:hover{
        & img{
            transform: scale(1.1);
        }
    }
    .subtitle{
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.02em;
        color: var(--text-color);
    }
    .thumb{
        & img{
            transition: all .4s ease;
        }
    }
    .su-content{
        padding-right: 30px;
    }
    .title{
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        text-transform: capitalize;
        margin-top: 10px;
        & a{
            @include suborder(#1D1D1D, 0,0);
            @include su-transition(all .4s ease);
            &:hover{
                @include suborder(#1D1D1D, 0,100%);
                @include su-transition(all .4s ease);
                color: var(--dark-color);
            }
        }
    }
    &.home18{
        .title{
            font-size: 18px;
        }
        .text{
            font-size: 18px;
        }
    }
}

// Home 8 Blog Style
.su-blog-8-wrap{
    &:hover{
        .thumb img{
          transform: scale(1.1);  
        }
    }
    .thumb{
        position: relative;
        border-radius: 16px;
        overflow: hidden;
        &::before{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            border-radius: 16px;
            z-index: 1;
        }
        & img{
            border-radius: 16px;
            transition: all .5s ease;
        }
    }
    .blog-meta{
        position: absolute;
        top: 30px;
        left: 60px;
        right: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        @media #{$xl,$lg,$md,$sm,$xs} {
            left: 30px;
            right: 30px;  
        }
        .dates{
            font-weight: 500;
            font-size: 14px;
            color: var(--text-white);
        }
        .tag{
            font-weight: 600;
            font-size: 13px;
            letter-spacing: 0.02em;
            color: var(--text-white);
            backdrop-filter: blur(50px);
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid #fff;
            border-radius: 12px;
            padding: 8px 14px;
        }
    }
    .blog-title{
        position: absolute;
        bottom: 27px;
        left: 60px;
        right: 60px;
        z-index: 2;
        @media #{$xl,$lg,$md,$sm,$xs} {
            left: 30px;
            right: 30px;  
        }
        .title{
            font-weight: 500;
            font-size: 24px;
            letter-spacing: 0.03em;
            color: var(--text-white);
            line-height: 1.2;
            a {
                color: var(--text-white);
                @include suborder(#fff, 0,0);
                @include su-transition(all .4s ease);
                &:hover{
                    @include suborder(#fff, 0,100%);
                    @include su-transition(all .4s ease);
                    color: var(--text-white);
                }
            }      
        }
        .name{
            font-weight: 500;
            font-size: 14px;
            color: var(--text-white);
        }
    }
}

// Blog home 16 Blog style
.blog-item-home16 {
    & img {
        @include transition(.5s);
    }
    & .text {
        margin-top: 15px;
        & .category {
            color: var(--theme-color9);
            font-size: 13px;
            font-weight: var(--font-weight-400);
            line-height: 16px;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }
        & .blog-title {
            color: var(--dark-color);
            font-size: 16px;
            font-weight: var(--font-weight-600);
            line-height: 28px;
            text-transform: uppercase;
            background-image: linear-gradient(rgb(29, 29, 29), rgb(29, 29, 29)), linear-gradient(rgb(29, 29, 29), rgb(29, 29, 29));
            background-size: 0px 1px, 0px 1px;
            background-position: 100% 100%, 0px 100%;
            background-repeat: no-repeat;
            transition: background-size 0.3s linear;
            padding-right: 5px;

            &:hover {
                background-image: linear-gradient(rgb(29, 29, 29), rgb(29, 29, 29)), linear-gradient(rgb(29, 29, 29), rgb(29, 29, 29));
                background-size: 0px 1px, 100% 1px;
                background-position: 100% 100%, 0px 100%;
                background-repeat: no-repeat;
                transition: background-size 0.3s linear;
            }
        }
    }
    &:hover {
        img {
            transform: scale(1.05);
        }
    }
}

// Blog home 6 style
.blog-6-area {
    .blog-item-home16 {
        .text {
            .category {
                margin-bottom: 15px;
            }
        }
    }
}
// Blog home 21 style
.news-item {
    &.style22 {
        @include media-breakpoint-down(xl){
            margin-bottom: 30px;
          }
        .content {
            text-align: left;
           .title {
                padding-top: 20px;
                a {
                    color: var(--dark-color2);
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: uppercase;
                    @include media-breakpoint-down(sm) {
                        font-size: 20px;
                    }
                }
            }
            .text {
                color: var(--dark-color);
                font-size: 13px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.26px;
                padding-top: 8px;
            }
        }
    }
    &.style23 {
        @include media-breakpoint-down(xl) {
            margin-bottom: 30px;
        }
        .content {
            text-align: start;
           .title {
                padding-top: 20px;
                max-width: 90%;
                a {
                    color: var(--dark-color);
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: 0.29px;
                    line-height: 36px;
                    padding-top: 18px;
                    @include media-breakpoint-down(sm) {
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
            }
            .text {
                color: var(--dark-grayish-orange);
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.26px;
                padding-top: 15px;
            }
        }
    }
}