/*
 * Blog.scss
 * -----------------------------------------------
*/
.our-news{
	background-color: rgba(var(--white-color-rgb), 0.6);
}
.new-post-one{
	.inner-box{
		margin-bottom: 30px;
		overflow: hidden;
		position: relative;
		&:hover{
			.content-box{
				opacity: 1;
				transform: translateY(-30px);
				visibility: visible;
		    z-index: 1;
			}
			.image-box{
				img{
					transform: scale(1.1);
				}
				&:before{
					opacity: 1;
					visibility: visible;
					z-index: 1;
				}
			}
		}
	}
	.image-box{
		border-radius: 24px;
		overflow: hidden;
		position: relative;
		img{
			transform: scale(1.0);
	    @include transition(.8s);
		}
		&:before{
			background: var(--gradient-color3);
			bottom: 0;
			content: "";
			height: 524px;
			left: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			visibility: hidden;
	    @include transition(.4s);
		}
	}
	.content-box{
		bottom: 0;
		opacity: 0;
		padding-left: 30px;
		position: absolute;
		visibility: hidden;
		transform: translateY(30px);
    @include transition(.4s);
	}
	.title{
		color: var(--text-white);
		margin-bottom: 25px;
    @include transition(.4s);
    @include media-breakpoint-down(sm){
    	max-width: 90%;
    }
	}
}