/*
 * Blog.scss
 * -----------------------------------------------
*/
.new-post-one{
	.inner-box{
		position: relative;
		&:hover{
			.content-box{
				opacity: 1;
				transform: translateY(0px);
				visibility: visible;
			}
			.image-box{
				&:before{
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	.image-box{
		border-radius: 24px;
		overflow: hidden;
		position: relative;
		&:before{
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.0299234) 33.98%, rgba(0, 0, 0, 0.750864) 89.04%);
			bottom: 0;
			content: "";
			height: 510px;
			left: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			visibility: hidden;
	    @include transition(.4s);
		}
	}
	.content-box{
		bottom: 0;
		opacity: 0;
		padding-left: 30px;
		position: absolute;
		visibility: hidden;
		transform: translateY(30px);
    @include transition(.4s);
	}
	.title{
		color: var(--text-white);
    @include transition(.4s);		
	}
}