.btn-style1 {
  background-size: 300%;
  border-radius: 4px;
  border: 1px solid var(--theme-color1);
  color: var(--white-color);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 15px;
  max-width: 200px;
  padding: 12px 35px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  @include transition(.4s);
  .btn-text {
    margin-right: 5px;
  }
  .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    &.icon1 {
      transform: translateX(0) translateY(-50%);
      opacity: 1;
    }
    &.icon2 {
      transform: translateX(100%) translateY(-50%);
      opacity: 0;
    }
  }
  &:hover,
  &:focus{
    background-position: 100%;
    border: 1px solid var(--black-color);
    color: var(--white-color);
    .icon{
      &.icon1{
        transform: translateX(-100%) translateY(-50%);
        opacity: 0;
      }
      &.icon2{
        transform: translateX(0) translateY(-50%);
        opacity: 1;
      }
    }
  }
  &.btn-dark{
    background-image: linear-gradient(160deg, var(--dark-color) 50%, var(--theme-color1) 50%);
    color: var(--white-color);
    &:hover{
      border-color: var(--white-color)
    }
  }
  &.btn-white{
    background-image: linear-gradient(160deg, var(--white-color) 50%, var(--theme-color1) 50%);
    border: 1px solid var(--white-color);
    color: var(--black-color);
    &:hover{
      color: var(--white-color);
    }
  }
  &.theme-color1{
    color: var(--white-color);
    background-image: linear-gradient(160deg, var(--theme-color1) 50%, var(--black-color) 50%);
  }
}

