
/*
 * cetagory.scss
 * -----------------------------------------------
*/

.su-cetagory-5-wrap{
    .title{
        font-weight: 500;
        font-size: 14px;
        text-transform: capitalize;
        color: var(--dark-color);
        margin-bottom: 0;
        a {
            @include suborder(#c83027, 0,0);
            @include su-transition(all .4s ease);
            &:hover{
                @include suborder(#c83027, 0,100%);
                @include su-transition(all .4s ease);
                color: var(--theme-color8);
            }
        }
    }
    .item .link{
        overflow: hidden;
        display: block;
        border-radius: 50%;
    }
    .item{
        margin: 0 auto;
        margin-bottom: 30px;
        margin-right: 50px;
        min-width: 110px;
        &:last-child{
            margin-right: 0;
        }
        @media #{$xs} {
            width: 90px;
        }
        @include su-transition(all .4s ease);
        a img{
            width: 110px;
            height: 110px;
            @media #{$xs} {
                 width: 90px;
                 height: 90px;
             }
        }
    }
    .item:hover img{
       transform: scale(1.02);
     }
    .content{
        width: 110px;
        height: 110px;
        background: var(--theme-color8);
        border-radius: 50%;
        padding-top: 26px;
        margin: 0 auto;
        span{
            font-weight: 500;
            font-size: 14px;
            text-transform: capitalize;
            color: var(--white-color);
        }
        h6{
            font-weight: 600;
            font-size: 24px;
            letter-spacing: 0.03em;
            color: var(--white-color);
            margin-top: 0;
            margin-bottom: 0;
            line-height: 1;
        }
    }
    .cetagory-btn{
        & a{
            border-radius: 100%;
            border: 1px solid var(--dark-color);
            width: 110px;
            height: 110px;
            display: inline-block;
            line-height: 103px;
            @include su-transition(all .4s ease);
            color: var(--dark-color);
            &:hover{
                border-color: var(--theme-color8);
                color: var(--theme-color8);
            }
        }
    }
}

// Home 7 style
.cic-home7{
  @include media-breakpoint-down(xl) {
    overflow-x: auto;
    position: relative;
  }
  .su-cetagory-7-item{
    min-width: 258px;
    margin-bottom: 30px;
    margin-right: 25px;
  }
}
.su-cetagory-7-item{
    margin-bottom: 27px;
    & img{
        transition: all .4s ease;
    }
    &:hover{
        & img{
            transform: scale(1.1);
        }
    }
    .cetagory-btn-wrap{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        text-align: center;
    }
    .cetagory-btn{
        font-weight: 500;
        font-size: 16px;
        color: var(--dark-color);
        padding: 7px 30px;
        background: var(--white-color);
        border-radius: 120px;
        display: inline-block;
        transition: all .4s ease;
        &:hover{
            background: var(--dark-color);
            color: var(--white-color);
        }
    }
    &.shop-l10{
        .cetagory-btn-wrap{
            bottom: 30px;
            top: auto;
            transform: translateY(0);
        }
    }
}
.su-cetagory-7-item-big{
    padding: 190px 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media #{$xs} {
        padding: 150px 30px;
    }
    .subtitle{
        font-weight: 500;
        font-size: 14px;
        text-transform: capitalize;
        color: var(--dark-color);
    }
    .title{
        font-weight: 500;
        font-size: 40px;
        letter-spacing: 0.03em;
        color: var(--dark-color);
        line-height: 40px;
        margin-bottom: 28px;
    }
    .sec-btn {
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0.02em;
        color: var(--black-color);
    }
}

// Home 8 style
.su-categories-8-item{
    padding: 225px 30px 37px 41px;
    border-radius: 12px;
    height: 100%;
    .title{
        font-family: var(--marcellus-font);
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 0.03em;
        color: var(--white-color);
        margin-bottom: 30px;
    }
}
.su-categories-8-right{
    display: flex;
    flex-direction: column;
    justify-content: end;
}