
/*
 * collections.scss
 * -----------------------------------------------
 */

 /*  Collection home 1 style  */
 .top-collection-item{
  position: relative;
  .thumb{
    overflow: hidden;
    position: relative;
  }
  .images{
    @include transition(0.7s);
    width: 100%;
  }
  &:hover{
    .images{
      transform: scale(1.1);
    }
    .tc-content{
      transform: translateY(0px);            
    }
    .btn-text{
      opacity: 1;
      visibility: visible;
    }
  }
  .tc-content{
    bottom: 55px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transform: translateY(55px);
    transition: all 0.4s ease;
    .title{
      color: var(--text-white);
      font-family: var(--jakarta-font);
      font-style: normal;
      letter-spacing: 0.03em;
      line-height: 30px;
    }
  }
  .btn-text{
    @include timer-text-typo1;
    line-height: 16px;
    opacity: 0;
    visibility: hidden;
    @include transition(0.7s);
  }
}

.shop-collection-3-area {
  @include media-breakpoint-down(lg) {
    padding-left: 30px;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 15px;
    padding-right: 15px !important;
  }
}

/*  Collection home 4 style  */
.su-collections-4-item{
  :hover{
    .images{
      transform: scale(1.1);
    }
  }
  .images{
    @include transition(0.4s);
  }
  .title{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--dark-color);
    a {
      @include suborder(#1D1D1D, 0,0);
      @include su-transition(all .4s ease);
      &:hover{
        @include suborder(#1D1D1D, 0,100%);
        @include su-transition(all .4s ease);
        color: var(--dark-color);
      }
    }
  }
}
.su-collections-4-slider{
 margin-right: -400px;
 @include media-breakpoint-down(lg) {
  margin-right: 0;
}
}
.su-collections-4-navigation{
  span{
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
    background: var(--text-white);
    color: var(--dark-color);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    @include transition(0.4s);
    z-index: 9;
  }
  .next{
    right: 20px;
    left: auto;
  }
}
.su-collection-dark-4-left{
  margin-right: -50px;
  @include media-breakpoint-down(lg) {
    margin-right: 0;
  }
}
.su-collection-dark-4-content{
  margin-left: 110px;
  @media (max-width: 1400px) {
    margin-left: 50px;
  }
  @include media-breakpoint-down(sm) {
    margin-left: 0;
  }
  .subtitle{
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.02em;
    color: var(--text-white);
  }
  .su-left-right{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.03em;
    color: var(--text-white);
  }
  .para{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    @include media-breakpoint-down(sm) {
      font-size: 28px;
    }
  }
}
.su-collections-4-top {
  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
  }
}

/*  Collection home 5 style  */
.su-collections-5-wrap{
  &::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  &:hover{
    .thumb{
      transform: scale(1.1) rotate(-2deg);
    }
  }
  .thumb{
    @include transition(0.4s);
  }
  .content{
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
  }
  .title{
    letter-spacing: 0.03em;
    color: var(--text-white);
  }
  .link{
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.02em;
    color: var(--text-white);
  }
}

/*  Collection home 8 style  */
.su-collestion-banner-wrap{
  .bg-thumb{
    border-radius: 24px;
    padding: 320px 100px;
    @media #{$xl,$lg,$md,$sm,$xs} {
      padding: 200px 40px;
    }
    @media #{$md,$sm,$xs} {
      padding: 100px 20px;
    }
  }
  .title{
    font-family: var(--marcellus-font);
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 0.03em;
    color: var(--text-white);
    @media #{$sm,$xs} {
      font-size: 35px;
    }
    .transpa{
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: var(--tg-common-white);
      -webkit-text-stroke-width: .4px;
    }
  }
  .title span{
    display: inline-block;
    margin: 13px 20px;
    @media #{$md,$sm,$xs} {
      margin: 0px 4px;
    }
  }
}

/*  Collection home 9 style  */
.collection-9-item {
  overflow: hidden;
  img {
    @include transition(0.4s)
  }
  .overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 100%);
    padding: 60px;
    @include media-breakpoint-down(xxl) {
      padding: 30px;
    }
    @include media-breakpoint-down(sm) {
      padding: 20px;
    }
    .title {
      color: var(--white-color);
      font-size: 40px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1.2px;
      @include media-breakpoint-down(xxl) {
        font-size: 36px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 30px;
      }
    }
  }
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
  &.style2 {
    .overlay {
      .title {
        font-size: 24px;
      }
    }
  }
}

/*  Collection home 11 style  */
.collection-11-area {
  padding-top: 120px;
  .collections-11-slider {
    margin-right: -200px;
    @include media-breakpoint-down(lg) {
      margin-right: 0;
    }
  }
  .su-product-4-card {
    img {
      @include transition(0.4s);
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    .product-title {
      font-size: 16px;
      font-weight: 500;
      font-family: var(--jost-font);
    }
  }
  .collection-nav-11 {
    span {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      color: var(--dark-color)
    }
  }
  .product-11-big-card {
    .card-product-info {
      padding: 100px 40px;
      @include media-breakpoint-down(lg) {
        padding: 60px 20px;
      }
      @include media-breakpoint-down(md) {
        padding: 26px 20px;
      }
      @include media-breakpoint-down(sm) {
        padding: 20px 20px;
      }
      .title {
        color: var(--white-color);
        font-family: var(--jost-font);
        font-size: 60px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.8px;
        @include media-breakpoint-down(lg) {
          font-size: 40px;
        }
        @include media-breakpoint-down(md) {
          font-size: 30px;
          margin-bottom: 16px;
        }
      }
    }
  }
}

/* Shop Collection home 12 style  */
.shop-collection-12-area {
  .shop-collection-12-item {
    .img {
      img {
        @include transition(0.4s)
      }
    }
    .text {
      .title {
        color: var(--dark-color);
        font-family: var(--dmsans-font);
        font-size: 36px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.03em;
        @include media-breakpoint-down(xl) {
          font-size: 30px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 20px;
        }
      }
    }
    &:hover {
      .img {
        img {
          transform: scale(1.05) rotate(2deg);
        }
      }
    }
    &.shop-page-block-item {
      .text {
        .title {
          color: var(--dark-color);
          font-size: 16px;
          font-weight: 600;
          line-height: 28px;
          text-transform: uppercase;
        }
        p {
          color: var(--dark-color);
          font-size: 13px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0.26px;
        }
      }
    }
  }
}

/* Collection home 12 style  */
.collection-12-area {
  .collection-12-item {
    height: 100%;
    .img {
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
        @include transition(0.4s);
      }
    }
    .overlay {
      background: rgba($theme-color-dark, 0.2);
      padding: 40px;
      .text {
        .title {
          font-family: var(--dmsans-font);
          font-size: 50px;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 1.5px;
          @include media-breakpoint-down(xxl) {
            font-size: 40px;
          }
        }
      }
    }
    &:hover {
      .img {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}

.top-collection-12-area {
  .top-collection-item {
    .img {
      img {
        @include transition(0.4s)
      }
    }
    .text {
      .title {
        color: var(--dark-color);
        font-family: var(--dmsans-font);
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.54px;

      }
    }
    &:hover {
      .img {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}

/*  Collection home 13 style  */
.collection-13-area {
  .collection-13-item {
    .img {
      img {
        @include transition(0.4s);
      }
    }
    .title {
      line-height: 29px;
      letter-spacing: 0.05em;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
  &.style19 {
    .collection-19-row {
      --bs-gutter-y: 50px;
    }
    .collection-13-item {
      .contents {
        .sub-title {
          color: var(--dark-color);
          font-family: var(--jost-font);
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
        }
        .title {
          font-family: var(--cormorant-font);
          font-size: 36px;
          font-weight: 400;
          line-height: normal;
          @include media-breakpoint-down(lg) {
            font-size: 28px
          }
        }
      }
    }
  }
}

/*  Collection home 14 style  */
.su-top-collection-14-area {
  .top-collection-14-item {
    img {
      @include transition(0.4s);
    }

    .overly {
      background: rgba($theme-color-dark, 0.1);

      .title {
        color: var(--white-color);
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 41px;
        letter-spacing: 0.03em;
      }
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
}

.gap-60 {
  padding-left: 60px;
  padding-right: 60px;
  @include media-breakpoint-down(xxl) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include media-breakpoint-down(xl) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @include media-breakpoint-down(lg) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include media-breakpoint-down(md) {
    padding-left: 18px;
    padding-right: 18px;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/*  Collection home 15 style  */
.su-collections-15-item {
  & .images {
    transition: all 0.4s ease;
  }
  & .overly {
    background: rgba($theme-color-black, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    @include media-breakpoint-down(sm) {
      padding: 20px 15px;
    }
    & .text {
      & .sub-title {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-white);
        font-family: var(--outfit-font);
        text-transform: uppercase;
      }
      & .title {
        font-family: var(--libre-font);
        color: var(--text-white);
        font-size: 40px;
        font-weight: var(--font-weight-400);
        text-transform: uppercase;
      }
    }
  }
  &:hover {
    & .images {
      transform: scale(1.05) rotate(-2deg);
    }
  }
  &.collection-big {
    & .images{
      @include media-breakpoint-down(md) {
        height: 350px;
        object-fit: cover;
      }
      @media (max-width: 575.98px) {
        height: 350px;
      }
    }
    & .overly {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: right;
      padding: 30px 60px 120px 60px;
      @include media-breakpoint-down(lg) {
        padding: 30px 60px;
      }
      @include media-breakpoint-down(md) {
        padding: 30px;
      }
      @include media-breakpoint-down(sm) {
        padding: 30px 10px;
      }
      & .title {
        letter-spacing: 0.05em;
        @include responsive-font(30px, 3.75vw, 60px, 1);
      }
      .info {
        color: var(--text-white);
        font-family: var(--outfit-font);
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
      }
    }
    &:hover {
      & .images {
        transform: scale(1.05) rotate(0);
      }
    }
  }
  &.style13 {
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
    .overly {
      .text {
        .title {
          font-size: 40px;
          font-weight: 700;
          line-height: 50px;
          letter-spacing: 2px;
          font-family: var(--bebas-font);
          @include media-breakpoint-down(sm) {
            font-size: 34px;
          }
        }
        .text {
          font-size: 22px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 1.1px;
          font-family: var(--bebas-font);
          @include media-breakpoint-down(sm) {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
          }
        }
        .su-btn-4-black {
          font-family: var(--bebas-font);
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 0.9px;
          @include media-breakpoint-down(sm) {
            margin-top: 14px;
          }
        }
      }
    }
  }
  &.activity-13-item {
    .overly {
      .text {
        .title {
          color: var(--white-color);
          font-family: var(--bebas-font);
          font-size: 40px;
          font-weight: 700;
          line-height: 50px;
          letter-spacing: 2px;
          margin: 0 auto;
          max-width: 180px;
          width: 100%;
          @include media-breakpoint-down(xxl) {
            font-size: 34px;
            line-height: 40px;
          }
        }
      }
    }
  }
  &.style14 {
    .text {
      .title {
        color: var(--white-color);
        font-family: var(--opensans-font);
        font-size: 40px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.2px;
        @include media-breakpoint-down(sm) {
          font-size: 24px;
        }
      }
      .info {
        color: var(--white-color);
        font-family: var(--opensans-font);
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.42px;
      }
      .su-btn-4 {
        border-radius: 12px !important;
      }
    }
  }
  &.shop-collection-item {
    .overly {
      .text {
        .sub-title {
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          text-transform: uppercase;
          font-family: var(--jakarta-font);
        }
        .title {
          font-size: 40px;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 1.2px;
          font-family: var(--jakarta-font);
          @include media-breakpoint-down(xxl) {
            font-size: 30px;
          }
        }
        .su-btn-4 {
          background: rgba(255, 255, 255, 0.10);
          backdrop-filter: blur(25px);
        }
      }
    }
    &.shop-collection-info {
      background: var(--theme-color24);
      padding: 100px;
      text-align: center;
      @media (max-width:1699.98px) {
        padding: 30px;
      }
      .info-title {
        color: var(--dark-color);
        font-family: var(--jakarta-font);
        font-size: 30px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.9px;
        @include media-breakpoint-down(xxl) {
          font-size: 26px;
          padding-bottom: 20px !important;
        }
      }
      .info-text {
        color: var(--dark-color);
        font-family: var(--jakarta-font);
        font-size: 13px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.26px;
      }
    }
    &.style3 {
      .overly {
        background: transparent;
      }
    }
  }
  &.shop-collection-banner {
    .overly {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 100%);
      .text {
        .sub-title {
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          text-transform: uppercase;
          font-family: var(--jakarta-font);
        }
        .title {
          font-size: 40px;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 1.2px;
          font-family: var(--jakarta-font);
        }
      }
    }
    &:hover {
      .images {
        transform: unset;
      }
    }
    &.shop-collection-info {
      .info-title {
        color: var(--dark-color);
        font-family: var(--jakarta-font);
        font-size: 30px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.9px;
      }
      .info-text {
        color: var(--dark-color);
        font-family: var(--jakarta-font);
        font-size: 13px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.26px;
      }
    }
    &.style3 {
      .overly {
        background: transparent;
      }
    }
  }
  &.collection-2-item {
    .overly {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%);
      justify-content: flex-end;
      padding-bottom: 50px;
      .text {
        .title {
          font-family: var(--marcellus-font);
        }
      }
    }
  }
  &.collection-6-item {
    height: 100%;
    .overly {
      justify-content: flex-end;
      padding-bottom: 91px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%);
      .subtitle {
        font-family: var(--jakarta-font);
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        text-transform: uppercase;
      }
      .title {
        font-family: var(--jakarta-font);
        font-weight: 500;
      }
      .su-btn-4{
        color: var(--dark-color);
        text-transform: uppercase;
        background: var(--white-color);
      }
    }
  }
  &.collection-full {
    .images {
      transition: none;
    }
    &:hover {
      .images {
        transform: unset;
      }
    }
    .text {
      .subtitle {
        font-size: 13px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.26px;
      }
      .title {
        color: var(--dark-color);
        font-family: var(--marcellus-font);
        font-size: 40px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.2px;
        a {
          color: var(--dark-color);
        }
      }
    }
  }
  &.stories-item {
    .img {
      img {
        @include transition(0.4s);
      }
    }
    &:hover {
      .img {
        img {
          transform: scale(1.1);
        }
      }
    }
    .title {
      color: var(--dark-color);
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0.03em;
      text-transform: capitalize;
    }
  }
  &.style19 {
    .overly {
      background: rgba($theme-color-dark, 0.1);
      .text {
        .title {
          font-family: var(--cormorant-font);
          font-size: 50px;
          font-weight: 400;
          line-height: normal;
          @include media-breakpoint-down(xxl) {
            font-size: 36px;
          }
        }
      }
    }
  }
}

.su-collection-15-area {
  .collection-wrap-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include transition(0.5s);
    .overlay {
      padding: 317px 0;
      background: rgba($theme-color-dark, 0.4);

      @include media-breakpoint-down(xl) {
        padding: 220px 0;
      }

      @include media-breakpoint-down(md) {
        padding: 140px 0;
      }
    }
  }
  .info {
    opacity: 0.5;
    @include transition(0.5s);
    .sub-title {
      color: var(--white-color);
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
    }
    .title {
      color: var(--white-color);
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      @include responsive-font(22px, 2.5vw, 40px, 1.25);
    }
    &.home23{
      .title{
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.03em;
        opacity: 0.3;
        @include responsive-font(22px, 2.5vw, 40px, 1.26);
      }
    }
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .active-slider {
    .info,
    .info .title {
      opacity: 1;
    }
  }
  &.collection-two {
    .container-fluid {
      @include media-breakpoint-down(sm) {
        padding: 0 15px !important;
      }
    }
  }
}

/*  Collection home 16 style  */
.top-coll-home16 {
  .images {
    transition: all 0.4s ease;
  }
  .overly {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    text-align: center;
    .title {
      color: var(--text-white);
      font-family: var(--lora-font);
      font-size: 24px;
      font-weight: var(--font-weight-400);
      margin-bottom: 15px;
      text-transform: uppercase;
      &.fz30{
        font-size: 30px;
      }
    }
  }
  &:hover {
    & .images {
      transform: scale(1.05) rotate(-2deg);
    }
  }
}

.coll-item-home16 {
  & .images {
    transition: all 0.4s ease;
  }
  & .overly {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    text-align: center;
    & .text {
      & .title {
        color: var(--text-white);
        font-family: var(--lora-font);
        font-size: 24px;
        font-weight: var(--font-weight-400);
        margin-bottom: 15px;
        text-transform: uppercase;
      }
    }
  }
  &.budget-style{
    .price{
      color: var(--text-white);
      font-size: 14px;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
  }
  &:hover {
    & .images {
      transform: scale(1.05) rotate(-2deg);
    }
  }
  & .big{
    
    & .title {
      font-size: 40px;
    }
  }
}

.su-collections-16-item {
  & .images {
    transition: all 0.4s ease;
  }
  & .overly {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 30px;

    @include media-breakpoint-down(lg) {
      padding: 30px 20px;
    }

    & .text {
      & .title {
        font-family: var(--lora-font);
        color: var(--text-white);
        font-size: 24px;
        font-weight: var(--font-weight-400);
        margin-bottom: 15px;
        text-transform: uppercase;

        @include media-breakpoint-down(xl) {
          font-size: 24px !important;
        }

        @include media-breakpoint-down(lg) {
          margin-bottom: 8px;
        }
      }
    }
  }
  &:hover {
    & .images {
      transform: scale(1.05) rotate(-2deg);
    }
  }

  &.style10 {
    .overly {
      padding-bottom: 48px;

      @include media-breakpoint-down(lg) {
        padding-bottom: 35px;
      }

      .text {
        .title {
          font-family: var(--jakarta-font);
          text-transform: unset;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 0.72px;
          margin-bottom: 30px;

          @include media-breakpoint-down(lg) {
            margin-bottom: 12px;
          }
        }

        .su-btn-4-black {
          font-family: var(--jakarta-font);
        }
      }
    }
  }
}

// Women commenction home 16 style
.su-women-collections-16-item {
  & .overly {
    & .text {
      & .title {
        font-size: 30px;
        @include media-breakpoint-down(xl) {
          font-size: 24px;
        }
        @include media-breakpoint-down(lg) {
          font-size: 20px;
        }
      }
    }
  }
}

// favourite-collections-16 style
.su-favourite-collections-16-area {
  .su-section-16-title-top{
    max-width: 260px;
  }
}

.su-favourite-collections-16-slider {
  margin-right: -400px;
}

.su-favourite-collections-16-scrool {
  margin-top: 60px;
  .swiper-scrollbar1 {
    width: 110%;
    height: 3px;
    margin-right: -180px;
    background: var(--text-gray-2);
  }
  .swiper-scrollbar-drag {
    background: var(--dark-color);
  }
  .swiper-scrollbar2 {
    width: 110%;
    height: 3px;
    margin-right: -180px;
    background: var(--text-gray-2);
  }
  .swiper-scrollbar-drag {
    background: var(--dark-color);
  }
}

.su-collections-16-navigation {
  span {
    border: 1px solid var(--gray-color);
    position: static;
    &:hover {
      border-color: var(--dark-color);
    }
  }
  .prev {
    @include transition(0.4s);
  }
  .next {
    margin-left: 15px;
    @include transition(0.4s)
  }
}

// hom 16 scrollbar Start
.overflow-right{
  margin-right: -400px;
}
.bottom-scrollbar-home16{
  margin-top: 60px;
  .swiper-scrollbar,
  .swiper-scrollbar2 {
    background: var(--text-gray-2);
    height: 3px;
    margin-right: -180px;
    width: 110%;
  }
  .swiper-scrollbar-drag {
    background: var(--dark-color);
  }
}
.circle-navigation{
  span{
    border: 1px solid var(--gray-color);
    position: static;
    &:hover{
      border-color: var(--dark-color);
    }
  }
  .next{
    margin-left: 15px;
  }
}
// hom 16 scrollbar End

// Collectin 3 page
.collection-3{
  .shop-sidebar-area .shop-page-area .filter-outer .filter-right{
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  .shop-sidebar-area .ctaegory-list-2 li:last-child{
    padding-right: 0px;
  }
}
// Collectin 22 page
.product-collection-wrapper {
  &.style22 {
    .product-collection-item {
      position: relative;
      @include media-breakpoint-down(xl){
         margin-bottom: 5px;
       }
       .content {
        bottom: 60px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        transform: translateX(-50%);
        @include media-breakpoint-down(xs) {
          bottom: 30px;
          left: 30px;
          text-align: left;
          transform: translateX(0);
        }
        .title {
          padding-bottom: 10px;
          a {
            color: var(--white-color);
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            text-transform: uppercase;
            letter-spacing: 1.29px;
            @include media-breakpoint-down(sm) {
              font-size: 24px;
            }
          }
        }
        .collection-btn-wrapper {
          a {
            color: var(--white-color);
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.26px;
          }
        }
      }
    }
  }
}
// Collectin 23 page
.collection-wrapper {
  &.style23 {
    .collection-left-wrapper {
      .collection-item {
        &.style23 {
          .thumb {
            img {
              width: 100%;
            }
          }
          .content {
            text-align: start;
            margin-bottom: 30px;
            .title {
              padding-top: 16px;
              a {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.32px;
              }
            }
            .text {
              padding-top: 12px;
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: 0.26px;
              color: var(--dark-grayish-orange);
            }
          }
        }
      }
    }
    .collection-right-wrapper {
      position: relative;
      .thumb {
        img {
          width: 100%;
        }
      }
      .right-content {
        position: absolute;
        text-align: center;
        max-width: 625px;
        margin: 0 auto;
        top: 50%;
        left: 20%;
        transform: translateY(-50%);
        @include media-breakpoint-down(md) {
          max-width: 100%;
          left: 20px;
        }
        .title {
          color: var(--white-color);
          font-size: 50px;
          font-style: normal;
          font-weight: 400;
          line-height: 62px;
          letter-spacing: 1.5px;
          padding-bottom: 17px;
          @include media-breakpoint-down(sm) {
            font-size: 30px;
            line-height: 42px;
          }
        }
        .text {
          padding-bottom: 30px;
          color: var(--white-color);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0.28px;
        }
        .collection-btn-wrapper{
          margin-top: 17px;
          a {
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.26px;
            color: var(--white-color);
            border: 1px solid var(--white-color);
            padding: 20px 35px;
          }
        }
      }
    }
  }
}