// faq home 6 css
.faq-area-6 {
  .section-title{
    @include media-breakpoint-down(md){
      padding-bottom: 80px !important;
    }
  }
  .faq-bg {
    background: var(--gray-color-2);
    padding: 172px 0;
    .section-title {
      .subtitle {
        color: var(--text-dark2);
        font-family: var(--outfit-font);
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        text-transform: uppercase;
      }
    }
    .faq-body {
      max-width: 904px;
      margin: 0 auto;
      margin-top: -20px;  
      .accordion-button:focus {
        box-shadow: none;
      }  
      .accordion-item {
        border: 0;
        border-bottom: 1px solid var(--gray-color);
        border-radius: 0;
        background: transparent;
      }  
      .accordion-button {
        color: var(--dark-color);
        font-family: var(--jakarta-font);
        background: transparent;
        border: 1px solid transparent;
        border-bottom: 1px solid transparent;
        border-radius: 0 !important;
        padding: 24px 0;
        position: relative;
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
        text-transform: uppercase;  
        @media (max-width:575.98px) {
          font-size: 17px;
          padding: 16px 0;
        }  
        &::after {
          display: none;
        }  
        .arrow-icon {
          background: transparent;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          .minus {
            display: none;
          }
        }
      }  
      .accordion-button:not(.collapsed) {
        background: transparent;
        box-shadow: none;
        color: var(--dark-color);
        border-bottom: 1px solid var(--dark-color);
        border-top: 1px solid var(--dark-color);  
        .arrow-icon {
          background: transparent;
        }
      }
      .accordion-body {
        padding: 40px 0 25px 0;  
        p {
          color: var(--dark-color);
          font-family: var(--jakarta-font);
          font-size: 13px;
          font-weight: 500;
          margin-bottom: 0;
          letter-spacing: 0.26px;
          line-height: 24px;
          padding-right: 20px;
          text-transform: capitalize;
        }
      }
    }
  }
}

.faq-wrapper {
  .faq-main-content {
    .accordion {
      .global-accordion-item {
        border-bottom: 1px solid var(--gray-color);
        .global-accordion {
          &-header {
            margin: 0;
            @include transition(.3s);
          }
          &-button {
            font-style: normal;
            @include title-typo1;
            padding: 20px 0px 15px 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            text-transform: uppercase;
            width: 100%;
            @include media-breakpoint-down(sm) {
             font-size: 14px;
             line-height: 24px;
             padding: 14px 0 8px 0;
           }

           .icon {
            display: none;
            font-size: 12px;
            @include transition(.3s);
          }
          .icon2 {
            font-size: 12px;
            @include transition(.3s);
          }

          &.collapsed {
            padding-bottom: 20px;

            .icon {
              display: block;  
            }
            .icon2 {
              display: none;  
            }
          }
        }
        &-body {
          border-top: 0;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
          padding: 0;
          p {
            @include sub-title1;
          }
        }
      }
    }
  }
  }
}