
.faq-main-content {
  .accordion {
    .global-accordion-item {
      border-bottom: 1px solid var(--gray-color);
      .global-accordion {
        &-header {
          margin: 0;
          @include transition(.3s);
        }
        &-button {
          font-style: normal;
          @include title-typo1;
          color: var(--theme-color1);
          padding: 20px 0px 15px 0px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          width: 100%;
          @include media-breakpoint-down(sm) {
            font-size: 14px;
            line-height: 24px;
            padding: 14px 0 8px 0;
          }
          .question{
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 0.4px;
            line-height: 36px;
          }
          .icon {
            color: var(--dark-color);
            display: none;
            font-size: 21px;
            @include transition(.3s);
          }
          .icon2 {
            color: var(--theme-color1);
            font-size: 21px;
            @include transition(.3s);
          }
          &.collapsed {
            color: var(--dark-color);
            padding-bottom: 20px;
            .icon {
              display: block;  
            }
            .icon2 {
              display: none;  
            }
          }
        }
        &-body {
          padding: 0 0 30px;
          .text {
            @include sub-title1;
            line-height: 24px;
            color: var(--body-color);
            max-width: 621px;
          }
        }
      }
    }
  }
}