.feature-box{
	border-radius: 24px;
	overflow: hidden;
	position: relative;
	.image-box{
		position: relative;
		img{
		  @include transition(.8s);
		}
		&:hover{
			img{
				transform: scale(1.1);
			}
		}
	}
	.content-box{
		background-color: var(--white-color);
		position: relative;
		padding: 30px;
		z-index: 0;
		.counter{
			color: var(--dark-color);
			font-size: 62px;
			font-weight: 600;
			line-height: 1.19;
			margin-bottom: 135px;
		}
		.title{
			font-size: 38px;
		}
	}
	.pattern-1{
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}
}