.feature-box{
	border-radius: 24px;
	overflow: hidden;
	position: relative;
	.image-box{
		overflow: hidden;
		position: relative;
		img{
		  @include transition(.8s);
		}
		&:hover{
			img{
				transform: scale(1.1);
			}
		}
	}
	.content-box{
		background-color: var(--white-color);
		position: relative;
		padding: 30px;
		z-index: 0;
		.counter{
			color: var(--dark-color);
			font-size: 62px;
			font-weight: 600;
			line-height: 1.19;
			margin-bottom: 135px;
		}
		.title{
			font-size: 38px;
		}
	}
	.pattern-1{
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}
	&.style2{
		position: relative;
		.image-box{
			&:before{
				background: var(--gradient-color2);
				content: "";
				height: 100%;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
				z-index: 1;
			}			
		}
		.content-box{
			background-color: transparent;
			bottom: 0;
			left: 0;
			padding: 30px 30px 40px;
			position: absolute;
			right: 0;
			top: auto;
			z-index: 1;
			.review{
				align-items: center;
				color: var(--review-color);
				display: flex;
				gap: 7px;
				margin-bottom: 10px;
				position: relative;
			}
			.title{
				color: var(--white-color);
				margin-bottom: 7px;
			}
			.text{
				color: var(--white-color);
			}
		}
	}
	&.style3{
		margin-bottom: 40px;
		.content-box{
			background-color: var(--theme-color1);
			padding-bottom: 40px;
		}
		.top-area{
			margin-bottom: 70px;
			.top-title{
				color: var(--white-color);
				font-size: 62px;
				line-height: 74px;
			}
			.text-2{
				color: var(--white-color);
			}
		}
		.title{
			font-size: 38px;
			line-height: 43px;
			letter-spacing: 0.316667px;
			margin-bottom: 25px;
		}
		.title,
		.text{
			color: var(--white-color);
		}
	}
	&.style4{
		.content-box{
			background-color: transparent;
			bottom: 0;
			left: 0;
			margin: 0 auto;
			padding: 30px 30px 40px;
			position: absolute;
			right: 0;
			text-align: center;
		}
		.title{
			font-size: 32px;
			line-height: 40px;
			span{
				background-color: var(--theme-color3);
				border-radius: 18px;
				color: var(--white-color);
				display: inline-block;
				padding: 0 10px;
			}
		}
	}
}