/***  Footer  ***/
.footer_one{
	padding: 90px 0 0;
	position: relative;
	&.bg-dark{
		background-color: var(--black-color);
	}
	.footer_qlink_widget,
	.mailchimp_widget {
		position: relative;
    @include transition(0.4s);
		@include media-breakpoint-down(lg){
			border-bottom: 1px solid rgba(var(--white-color-rgb), 0.2);
			margin-bottom: 25px;
		}
		&.dark-bb-md{
			@include media-breakpoint-down(lg){
				border-bottom: 1px solid rgba(var(--black-color-rgb), 0.2);
			}	
		}
		@include media-breakpoint-down(lg){
			border-bottom: 1px solid rgba(var(--white-color-rgb), 0.2);
			margin-bottom: 25px;
		}
		.collapse{
			padding-bottom: 20px;
      @include transition(0.4s);
		}
		button.btn,
		.colps-btn{
			border: none;
			border-radius: 0;
			&:active,
			&:focus{
				box-shadow: none;
				border: none;
				border-color: transparent;
				outline: none;
			}
		}
		.title{
			@include footer-link-title;
			line-height: 16px;
			margin-bottom: 22px;
			@include media-breakpoint-down(lg){
				margin-bottom: 15px;
			}
		}
		ul{
			margin: 0;
		}
		li{
			@include footer-link-typo1;
			line-height: 32px;
			a{
				color: var(--dark-color);
			}
		}
		.list-white{
			a{
				color: var(--text-white);
			}
		}
	  /* Toggle between plus and minus using Bootstrap collapse expanded state */
	  .icon-toggle {
	    transition: transform 0.3s ease;
	  }
	  /* When the button is expanded, change icon to minus */
	  [aria-expanded="true"] .icon-toggle {
	    content: "";
	    transform: rotate(180deg);
	  }
	  [aria-expanded="true"] .icon-toggle::before {
	    font-family: "Font Awesome 6 Pro";
	    font-weight: 900;
	    content: "\f068"; /* fa-minus */
	  }
	  [aria-expanded="false"] .icon-toggle::before {
	    font-family: "Font Awesome 6 Pro";
	    font-weight: 900;
	    content: "\2b"; /* fa-plus */
	  }
		&.home20{
			.title{
				font-size: 18px;
				font-weight: 500;
			}
		}
	}
	.mailchimp_widget{
		position: relative;
		&.home20{
			.text{
				color: var(--dark-color);
			}
			.title{
				font-size: 40px;
				font-weight: 500;
				letter-spacing: 0.03em;
				line-height: 55px;
				text-transform: capitalize;
			}
			.subtitle{
				font-size: 18px;
				font-weight: 500;
			}
		}
	}
	.acceped_card_list{
		img{
			width: 26px;
		}
	}
	.footer_mailchimp_form{
		position: relative;
		.form-control{
			background-color: transparent;
			border: none;
			border-bottom: 1px solid var(--text-white);
			border-radius: 0;
			height: auto;
			padding: 0px 0px 20px;
			width: 100%;
			&::placeholder{
				color: var(--text-white);
				@include footer-link-typo2;
				line-height: 30px;
			}
			&:focus{
				box-shadow: none;
				outline: none;
			}
		}
		.subscribe-btn{
			background-color: transparent;
			color: var(--text-white);
			@include footer-link-title;
			line-height: 16px;
			position: absolute;
			right: 0;
			top: 0;
			i{
				display: inline-block;
				font-size: 16px;
				transform: rotate(-45deg);
			}
		}
		&.style9 {
			.form-control {
				border: 0;
				border-bottom: 1px solid var(--gray-color);
				padding: 0;
				border-radius: 0;
			}
		}
	}
	.f1-border-top{
		border-top: 1px solid rgba($theme-color-white, 0.2);
	}
	.copyright-widget {
		.text{
			font-family: var(--body-font);
			font-size: 13px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 0;
		}
		&.home20{
			.text{
				color: var(--dark-color);
			}
		}
	}
	.footer_bottom_left{
		.text{
			color: rgba($theme-color-white, 0.7);
			@include footer-link-typo1;
			line-height: 24px;
		}
		.lang_widgets{
			.bootstrap-select{
				span.text{
					color: var(--dark-color);
				}
				.btn-light{
					background-color: transparent;
					border: none;
					&:focus,
					&:active{
						border: none;
						outline: none !important;
					}
				}
				.dropdown-item{
					&.active,
					&:active{
						// background-color: var(--gray-color);
					}
				}
			}
			.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not( .input-group-btn ) {
				border: none;
				width: auto;
			}
			button.btn {
				color: var(--text-white);
				@include footer-link-typo1;
				line-height: 24px;
			}
			&.home20{
				button.btn{
					color: var(--dark-color);
				}
			}
		}
	}
	&.home3-style{
		border: 1px solid var(--gray-color);
	}
	/*  Footer 17 Style  */
	&.home17-style{
		background-color:var(--gray-color-3);
		border-radius: 9px;
		margin: 0 20px 20px 20px;
		.mailchimp_widget_box{
			border-bottom: 1px solid var(--light-gray);
		}
		.footer_mailchimp_form{
			max-width: 446px;
		}
		.footer_qlink_widget{
			li{
				@include footer-link-typo3;
				line-height: 40px;
				a{
					color: var(--dark-color5);
				}
			}

		}
		.mailchimp_widget{
			.title{
				color: var(--dark-color5);
				font-family: var(--marcellus-font);
				font-size: 30px;
				font-weight: 400;
				line-height: 70px;
			}
			.sub-title{
				color: var(--dark-color5);
				font-family: var(--jost-font);
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 30px;
			}
			.input-field {
				background-color: var(--white-color);
				border: 1px solid var(--dark-color5);
				color: var(--dark-color5);
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				height: 54px;
				line-height: 28px;
				padding: 0 20px;
				text-transform: capitalize;
				&::placeholder{
					color: var(--dark-color5);
					font-weight: var(--font-weight-400);
				}

			}
			.subscribe-btn {
				color: var(--dark-color5);
				font-size: 13px;
				font-weight: 600;
				right: 30px;
				top: auto;
			}
		}
		.footer_qlink_widget {
			.text{
				color: var(--dark-color5);
				font-family: var(--jost-font);
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 30px;
			}
			.title{
				color: var(--dark-color5);
				font-family: var(--marcellus-font);
				font-weight: 400;
				font-size: 18px;
				line-height: 26px;
				text-transform: uppercase;
			}
		}
		.lang_widgets button.btn{
			color: var(--dark-color5);
			font-family: var(--jost-font);
			font-size: 15px;
		}
		.footer-btm-info {
			border-top: 1px solid var(--light-gray);
			.copyright{
				color: var(--dark-color5);
				font-family: var(--jost-font);
				font-size: 13px;
				font-weight: 400;
				line-height: 30px;
			}
		}
	}

	/*  Footer 20 Style  */
	&.style20 {
		padding: 36px 0 0px 0;
		position: relative;
		border: 1px solid var(--gray-color);
		.footer_qlink_widget,
		.mailchimp_widget {
			position: relative;
			.title {
				@include footer-link-title;
				color: var(--dark-color);
				@include footer-link-typo1;
				font-family: var(--title-font13);
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				letter-spacing: 0.54px;
				margin-bottom: 19px;
			}
			.title2{
				color: var(--dark-color);
				font-style: normal;
				font-weight: 500;
				letter-spacing: 0.03em;
        @include responsive-font(24px, 2.5vw, 40px, 1.37);
			}
			ul {
				margin: 0;
			}
			li {
				@include footer-link-typo1;
				line-height: 32px;
				a {
					color: var(--dark-color);
					font-family: var(--title-font13);
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 40px;
				}
			}
		}
		.mailchimp_widget {
			position: relative;
			.mailchimp-top {
				margin-bottom: 40px;
				.mailchimp-title {
					color: var(--dark-color);
					font-size: 40px;
					font-style: normal;
					font-weight: 500;
					line-height: 55px;
					letter-spacing: 1.2px;
					padding-bottom: 15px;
					margin-top: -10px;
					@include media-breakpoint-down(xxl) {
						font-size: 30px;
						line-height: 40px;
					}
				}
				.footer-social-wrapper {
					ul {
						display: flex;
						align-items: center;
						gap: 20px;

						li {
							font-size: 16px;
						}
					}
				}
			}
			.download-btn-wrapper {
				display: flex;
				align-items: center;
				gap: 10px;
			}
			.text {
				color: var(--dark-color);
				margin-bottom: 24px;
			}
		}
		.acceped_card_list {
			img {
				width: 26px;
			}
		}
		.footer_mailchimp_form {
			margin: 20px 0 52px 0;
			position: relative;
			.form-control {
				background-color: transparent;
				border: none;
				border: 1px solid var(--gray-color);
				border-radius: 0;
				height: auto;
				padding: 0px 0px 0px 20px;
				width: 100%;
				height: 54px;
				border-radius: 4px;
				margin-left: 12px;
				&::placeholder {
					color: var(--dark-color);
					@include tiny-title14;
					font-weight: 400;
					text-transform: capitalize;
				}
				&:focus {
					box-shadow: none;
					outline: none;
				}
			}
			.col-auto{
				border-radius: 6px;
				display: flex;
				padding-left: 0;
				padding-right: 5px;
				width: 100%;
			}
			.submit-btn {
				background-color: transparent;
				color: var(--dark-color);
				@include footer-link-title;
				line-height: 16px;
				position: absolute;
				right: 15px;
				top: 17px;
				i {
					display: inline-block;
					font-size: 14px;
				}
			}
		}
		.download-app-wrapper {
			.title-download {
				padding-bottom: 17px;
				color: var(--dark-color);
				font-family: var(--title-font13);
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				letter-spacing: 0.54px;
			}
		}
		.f1-border-top {
			border-top: 1px solid var(--gray-color);
		}
		.copyright-widget {
			.text {
				color: var(--dark-color);
				font-weight: 400;
				font-size: 13px;
				line-height: 40px;
				margin-bottom: 0;
			}
		}
		.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
			width: 80px;
		}
		.footer_bottom_left_widgets .bootstrap-select button.btn {
			font-size: 13px;
			font-weight: 400;
			line-height: 30px;
			width: auto;
		}
		.footer_bottom_left_widgets .select2 button.btn {
			font-size: 13px;
			font-weight: 400;
			line-height: 30px;
			width: 166px !important;
		}
		.footer_bottom_left_widgets{
			li:list-child{
				.bootstrap-select .dropdown-menu.inner{
					width: 210px;
				}
			}
		}
		.large-container {
			&.style20 {
				padding-top: 50px !important;
			}
		}
	}

	/*  Footer 21 Style  */
	&.style21 {
		border-top: 1px solid var(--gray-color-2);
		@include media-breakpoint-down(sm){
			padding: 36px 0 36px 0;
		}
		.footer_gallery_widget {
			.footer_gallery_title {
				margin-right: auto;
				max-width: 340px;
				text-align: center;
				.subtitle {
					color: var(--text-color);
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 24px;
					letter-spacing: 0.02em;
					padding-bottom: 4px;
				}
				.title {
					color: var(--dark-color);
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 28px;
					text-transform: uppercase;
					letter-spacing: 0.29px;
				}
				padding-bottom: 31px;
			}
			.footer_gallery_box {
				display: flex;
				align-items: center;
				justify-content: left;
				flex-wrap: wrap;
				gap: 10px;
				.thumb {
					overflow: hidden;

					img {
						width: 100%;
					}
				}
			}
			@include media-breakpoint-down(md){
				margin-bottom: 30px;
			}
		}
		.footer_qlink_widget {
			.title {
				color: var(--dark-color);
				font-weight: 500;
				font-size: 16px;
				line-height: 28px;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			.list-unstyled {
				li {
					a {
						color: var(--dark-color);
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 40px;
					}
				}
			}
		}
		.footer_input_widget-wrapper {
			.mailchimp_widget {
				padding-bottom: 15px;
				text-align: left;
				.title {
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 28px;
					text-transform: uppercase;
					margin-bottom: 10px;
					a {
						color: var(--dark-color);
						font-size: 16px;
						font-style: normal;
						font-weight: 500;
						line-height: 28px;
						text-transform: uppercase;
					}
				}
				.text {
					color: var(--dark-color);
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 40px;
				}
			}
			.footer_mailchimp_form {
				position: relative;
				.form-control{
					background-color: var(--white-color);
					border: 1px solid var(--gray-color);
					border-radius: 4px;
					color: var(--dark-color);
					height: 54px;
					padding: 20px;
					position: relative;
					width: 100%;
					&::placeholder{
						color: var(--dark-color);
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 28px;
						text-transform: capitalize;
					}
				}
				.submit-btn {
					background-color: transparent;
					color: var(--dark-color);
					font-size: 13px;
					font-weight: 600;
					letter-spacing: 0.02em;
					line-height: 16px;
					position: absolute;
					right: 20px;
					top: 20px;
				}
			}
		}
		.copyright-wrapper {
			padding-top: 30px;
			.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
				width: 75px;
			}
			.footer_bottom_left_widgets .bootstrap-select button.btn {
				font-size: 12px;
				font-weight: 400;
				line-height: 24px;
				width: 80px;
			}
			.footer_bottom_left_widgets.style21 .select2 button.btn {
				font-size: 12px;
				font-weight: 400;
				line-height: 24px;
				width: 166px !important;
			}
			.text {
				color: var(--dark-color);
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px;
				text-align: center;
				text-transform: uppercase;
			}
			.copyright-social-wrapper {
				ul {
					display: flex;
					justify-content: end;
					gap: 16px;
					@include media-breakpoint-down(lg){
						padding-top: 10px;
						justify-content: center;
					}
					li {
						a {
							color: var(--dark-color);
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}

.lang_widgets {
	.bootstrap-select {
		span.text {
			color: var(--dark-color);
		}
		.btn-light {
			background-color: transparent;
			border: none;
			&:focus,
			&:active {
				border: none;
				outline: none !important;
			}
		}
		.dropdown-item {
			&.active,
			&:active {
				// background-color: var(--gray-color);
			}
		}
	}
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		border: none;
		width: auto;
	}
	button.btn {
		color: var(--text-white);
		@include footer-link-typo1;
		line-height: 24px;
	}
	&.dark-style{
		button.btn{
			color: var(--dark-color);
		}		
	}
}

/*  Footer Home 4 Style  */
.su-footer-four{
	padding-top: 80px;
	.footer_qlink_widget,
	.mailchimp_widget {
		position: relative;
		.title{
			color: var(--dark-color);
			font-weight: 600;
		}
		li{
			@include footer-link-typo1;
			line-height: 32px;
			a{
				color: var(--dark-color);			
			}
		}
		.text {
			color: var(--dark-color);
		}
	}
	.footer_mailchimp_form{
		.form-control {
			border: 1px solid var(--dark-color);
			padding: 0px 0px 0px 20px;
			width: 100%;
			height: 54px;
			font-weight: 400;
			font-size: 14px;
			text-transform: capitalize;
			color: var(--dark-color);
			@include su-placeholder{
				font-weight: 400;
				font-size: 14px;
				text-transform: capitalize;
				color: var(--dark-color);
			}
		}
		.subscribe-btn {
			height: 100%;
			padding: 10px 35px;
			color: var(--white-color);
			background: var(--dark-color);
			border: none;
		}
	}
	.footer_bottom_left{
		button{
			padding: 0;
			background: none;
			border: none;
		}
		.filter-option-inner-inner{
			font-weight: 400;
			font-size: 13px;
			color: var(--dark-color);
		}
		.dropdown :not([class*="col-"]):not([class*="form-control"]):not( .input-group-btn ) {
			outline: none;
			background: none;
		}
		.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
			outline: none!important;
			background: none;
		}
		.dropdown-menu {
			background: var(--white-color)!important;
			box-shadow: 0px 30px 70px 0px rgba(11, 6, 70, 0.08);
			z-index: 999;
		}
	}
	.copyright-widget .text {
		color: var(--dark-color);
	}
	.acceped_card_list img {
		border: 1px solid var(--text-gray);
	}
	.f1-border-top {
		border-top: 1px solid var(--text-gray);
	}
}

/*  Footer Home 5 Style  */
.su-footer-five{
	.mailchimp_widget{
		margin-left: -30px;
		@media #{$lg,$md,$sm,$xs} {
			margin-left: 0;
		}
		.social a{
			color: var(--black-color);
			font-size: 16px;
			display: inline-block;
			margin-right: 25px;
		}
	}
	.footer_qlink_widget .link a{
		font-weight: 400;
		font-size: 13px;
		color: var(--dark-color);
		display: block;
		margin-bottom: 5px;
	}
	.f1-border-top{
		border-top: 1px solid var(--dark-color);
	}
}

/*  Footer Home 6 Style  */

/*  Footer Home 7 Style  */
.su-footer-saven{
	padding-top: 50px;
	.mailchimp-form{
		margin-left: -35px;
		@media #{$lg,$md,$sm,$xs} {
			margin-left: 0;
		}
	}
	.footer_mailchimp_form .form-control {
		border: none;
		border-bottom: 1px solid var(--dark-color);
		background: transparent;
		padding-left: 0;
	}
	.footer_mailchimp_form .subscribe-btn {
		background: none;
		color: var(--dark-color);
		padding-right: 0;
	}
	.footer_bottom_left .text {
		color: var(--dark-color);
		margin-right: 5px;
	}
	.f1-border-top {
		border-top: 1px solid var(--dark-color);
	}
}

/*  Footer Home 8 Style  */
.su-footer-8-wrap{
	border-radius: 32px;
	background: #000;
	margin: 60px;
	@media #{$x3l,$xxl,$xl,$lg,$md,$sm,$xs} {
		margin: 15px;
		margin-top: 60px;
	}
	.su-footer-four .footer_qlink_widget .title, .su-footer-four .mailchimp_widget .title {
		color: var(--white-color);
	}
	.su-footer-four .footer_qlink_widget li a, .su-footer-four .mailchimp_widget li a {
		color: var(--white-color);
	}
	.su-footer-four .footer_qlink_widget .text, .su-footer-four .mailchimp_widget .text {
		color: var(--white-color);
	}
	.footer_mailchimp_form .form-control {
		border-bottom: 1px solid var(--white-color);
		color: var(--white-color);
		&::placeholder{
			color: var(--white-color);
		}
	}
	.su-footer-saven .footer_mailchimp_form .subscribe-btn {
		color: var(--white-color);
	}
	.su-footer-saven .f1-border-top {
		border-top: 1px solid rgba(255, 255, 255, 0.2);
	}
	.su-footer-saven .footer_bottom_left .text {
		color: var(--white-color);
		opacity: 0.7;
	}
	.su-footer-four .footer_bottom_left .filter-option-inner-inner {
		color: var(--white-color);
	}
	.dropdown-toggle::after {
		display: none;
	}
	.su-footer-four .copyright-widget .text {
		color: var(--white-color);
	}
	.su-footer-four .acceped_card_list img {
		border:none;
		border-radius: 6px;
	}
}

/*  Footer 14 Style  */
.su-footer-14 {
	background: transparent !important;
	border-top: 1px solid var(--gray-color);
	padding: 120px 0 28px 0;
	.footer_contact_widget {
		max-width: 266px;
		@include media-breakpoint-down(sm) {
			margin: 0 auto;
		}
		.info {
			color: var(--dark-color);
			font-family: var(--opensans-font);
			font-size: 13px;
			font-weight: 400;
		}
	}
	.footer_qlink_widget {
		.logo {
			@include media-breakpoint-down(sm) {
				margin-bottom: 20px;
			}
		}
		.title {
			color: var(--dark-color);
			font-family: var(--opensans-font);
			font-size: 14px;
			font-weight: 600;
			line-height: normal;
			margin-bottom: 28px;
			text-transform: uppercase;
		}
		.text {
			color: var(--dark-color);
			font-family: var(--opensans-font);
			font-size: 13px;
		}
		ul {
			li {
				a {
					color: var(--dark-color);
					font-family: var(--opensans-font);
					font-size: 13px;
					font-weight: 400;
					line-height: 30px;
				}
			}
		}
	}
	.footer-16-social {
		margin-bottom: 0 !important;
	}
	.footer-copyright {
		padding-top: 100px;
		@include media-breakpoint-down(xl) {
			margin-top: 60px;
		}
		.copyright-widget {
			.text {
				color: var(--dark-color);
				font-family: var(--opensans-font);
			}
		}
	}
}

/*  Footer 15 Style  */
.su-footer-15 {
	background: var(--theme-color11);
	padding: 120px 0 28px 0;
	.footer_contact_widget {
		max-width: 266px;
		@include media-breakpoint-down(sm) {
			max-width: 100%;
		}
		.info {
			font-size: 13px;
			font-weight: 400;
			color: var(--dark-color);
			font-family: var(--outfit-font);
		}
	}
	.footer_qlink_widget {
		.title {
			color: var(--dark-color);
			font-family: var(--libre-font);
			font-size: 14px;
			font-weight: 400;
			line-height: normal;
			text-transform: uppercase;
			margin-bottom: 28px;
		}
		ul {
			li {
				a {
					color: var(--dark-color);
					font-family: var(--outfit-font);
					font-size: 13px;
					font-weight: 400;
					line-height: 30px;
				}
			}
		}
	}
	.footer-16-social {
		margin-bottom: 0 !important;
	}
	.footer-copyright {
		padding-top: 100px;
		.copyright-widget {
			.text {
				color: var(--dark-color);
				font-family: var(--outfit-font);
			}
		}
	}
}

/*  Footer 16 Style  */
.su-footer-16 {
	background: var(--gray-color-2);
	padding-top: 120px;
	& .footer_qlink_widget,
	.mailchimp_widget {
		position: relative;
		& .title {
			font-weight: var(--font-weight-600);
		}
	}
	& .footer_mailchimp_form {
		& .form-control {
			border: 1px solid var(--dark-color);
			padding: 0px 140px 0px 20px;
			width: 100%;
			height: 54px;
			font-weight: 400;
			font-size: 14px;
			text-transform: capitalize;
			color: var(--dark-color);
			border-radius: 8px;
			@include su-placeholder {
				font-weight: 400;
				font-size: 14px;
				text-transform: capitalize;
				color: var(--dark-color);
			}
		}
		& .subscribe-btn {
			height: 100%;
			padding: 10px 20px;
			color: var(--dark-color);
			background: transparent;
			border: none;
		}
	}
	& .select-country-option {
		margin-bottom: 22px !important;
	}
	& .footer-copyright {
		@include media-breakpoint-down(xxl) {
			padding-top: 0 !important;
		}
	}
	&.footer-2 {
		background: var(--white-color);
		.mailchimp_widget_box {
			border-bottom: 1px solid var(--gray-color);
		}
		.mailchimp_widget {
			.title {
				color: var(--dark-color);
				font-family: var(--marcellus-font);
				font-size: 40px;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 1.2px;
			}
			.sub-title {
				color: var(--dark-color);
				font-size: 14px;
				font-weight: 500;
				line-height: 28px;
				text-transform: capitalize;
				font-family: var(--jakarta-font);
			}
		}
		.footer_mailchimp_form{
			max-width: 446px;
			position: relative;
			.input-field {
				align-items: center;
				border: 1px solid var(--dark-color);
				display: flex;
				flex-direction: row;
				height: 54px;
				padding: 20px;
			}
			.subscribe-btn{
				position: absolute;
			}
		}
		.footer_qlink_widget {
			.title {
				color: var(--dark-color);
				font-size: 13px;
				font-weight: 600;
				line-height: 16px;
				letter-spacing: 0.02em;
				text-transform: uppercase;
				margin-bottom: 28px;
			}
			li {
				color: var(--dark-color);
				a {
					font-size: 13px;
					line-height: 32px;
				}
			}
		}
		.lang_widgets {
			button.btn {
				color: var(--dark-color);
				&::after {
					display: none;
				}
			}
		}
	}
	&.footer-6 {
		background-color: var(--dark-color);
		.footer_qlink_widget {
			.title {
				color: var(--white-color);
				font-family: var(--jakarta-font);
				font-size: 13px;
				font-style: normal;
				font-weight: 600;
				line-height: 16px;
				letter-spacing: 0.02em;
				margin-bottom: 28px;
				text-transform: uppercase;
			}
			li {
				a{
					color: var(--white-color);
				}
			}
		}
		.lang_widgets {
			button.btn {
				color: var(--white-color);
				&:focus{
					color: var(--white-color);
				}
				&::after {
					display: none;
				}
			}
		}
		.footer-btm-info{
			border-top: 1px solid rgba(var(--white-color-rgb), 0.2);
		}
	}
	&.style11 {
		padding-top: 90px;
		.mailchimp_widget {
			.title {
				font-size: 24px;
				line-height: 28px;
				font-family: var(--jost-font);
			}
			.text {
				font-family: var(--jost-font);
				font-size: 16px;
			}
			.form-control {
				border-color: var(--gray-color);
				border-radius: 0;
			}
			.short-info {
				font-size: 14px;
				font-weight: 400;
				color: var(--theme-color9);
				font-family: var(--jost-font);
			}
		}
		.footer_qlink_widget {
			ul {
				li {
					a {
						font-size: 15px;
						font-family: var(--jost-font);
						line-height: 35px;
					}
				}
			}
		}
		.copyright-widget {
			.text {
				font-size: 15px;
				font-family: var(--jost-font);
				line-height: 24px;
			}
		}
	}
	&.footer-12 {
		background: var(--black-color);
		padding-bottom: 40px;
		.footer-top-info {
			.footer-16-social {
				li {
					a {
						color: var(--white-color);
					}
				}
			}
			.left-info {
				max-width: 960px;
				width: 100%;
			}
			.right-info {
				position: relative;
				top: -12px;
				max-width: 535px;
				.address {
					font-size: 18px;
					font-family: var(--dmsans-font);
					font-size: 18px;
					font-weight: 500;
					line-height: 35px;
				}
			}
		}
		.footer_qlink_widget {
			.title {
				font-family: var(--dmsans-font);
				font-size: 14px;
				font-weight: 500;
			}
			li {
				font-family: var(--dmsans-font);
				font-size: 15px;
				line-height: 40px;
				a {
					color: var(--white-color);
				}
			}
		}
		.mailchimp_widget {
			.title {
				font-family: var(--dmsans-font);
				font-size: 14px;
				font-weight: 500;
				margin-bottom: 32px;
			}
			.text {
				font-family: var(--dmsans-font);
				font-size: 14px;
				font-weight: 400;
			}
		}
		.footer_mailchimp_form {
			.form-control {
				&::placeholder {
					color: var(--white-color);
				}
			}
		}
		.footer-btm-info {
			.select-wrapper {
				display: inline-block;
				position: relative;
				button.btn {
					border: 1px solid rgba($theme-color-white, 0.2);
					color: var(--white-color);
					font-family: var(--dmsans-font);
					font-size: 13px;
					font-weight: 400;
					line-height: 30px;
					border-radius: 0;
					height: 45px;
					cursor: pointer;
					padding-right: 30px;
					&::before {
						content: "";
						background-image: url('../images/home12/arrow-down.svg');
						width: 10px;
						height: 10px;
						position: absolute;
						right: 10px;
						top: 50%;
						transform: translateY(-50%);
						background-repeat: no-repeat;
					}
				}
				.bootstrap-select.show-tick {
					.dropdown-menu {
						.selected {
							span {
								&.check-mark {
									top: 9px;
									color: #000;
								}
							}
						}
					}
				}
				.dropup {
					.dropdown-toggle {
						&::after {
							display: none;
						}
					}
				}
			}
		}
	}
	&.footer-13 {
		background: var(--dark-color);
		padding: 60px 0 10px 0;
		position: relative;
		z-index: 99;
		.footer-top-info {
			.info-item {
				margin: 0 auto;
				.title {
					font-size: 18px;
					font-weight: 400;
					line-height: normal;
					letter-spacing: 0.9px;
				}
				.text {
					font-size: 15px;
					font-weight: 400;
					opacity: 0.5;
					line-height: 25px;
					letter-spacing: 0.75px;
				}
			}
		}
		.footer_qlink_widget {
			.title {
				font-size: 18px;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 0.9px;
			}
			li {
				font-weight: 400;
				line-height: 30px;
				letter-spacing: 0.75px;
				text-transform: uppercase;
				a {
					opacity: 0.5;
					@include transition(0.4s);
					&:hover {
						opacity: 1;
					}
				}
			}
		}
		.mailchimp_widget {
			max-width: 600px;
			margin: 0 auto;
			.title {
				font-size: 18px;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 0.9px;

				@include media-breakpoint-down(sm) {
					font-size: 16px;
				}
			}
			.form-control,
			.form-control::placeholder {
				border: 1px solid rgba($theme-color-white, 0.2);
				font-family: var(--bebas-font);
				text-transform: uppercase;
				padding: 20px;
				font-size: 15px;
				font-weight: 400;
			}
			.input-field {
				height: 54px;
				border: 1px solid rgba($theme-color-white, 0.2);
				padding: 0 20px;
				color: var(--white-color);
				font-family: var(--bebas-font);
				font-size: 15px;
				font-style: normal;
				font-weight: 400;
				line-height: 30px;
				letter-spacing: 0.75px;
				text-transform: uppercase;
				&::placeholder {
					opacity: 1;
					color: var(--white-color);
				}
			}
			.subscribe-btn {
				font-family: var(--bebas-font);
				font-size: 15px;
				font-weight: 400;
			}
		}
		.footer-btm-info {
			border-top: 1px solid rgba($theme-color-white, 0.2);
			padding-top: 10px;
			.footer-16-social {
				margin-bottom: 0 !important;
				li {
					a {
						color: var(--white-color);
					}
				}
			}
			.copyright {
				font-family: var(--bebas-font);
				font-weight: 400;
				line-height: 30px;
				letter-spacing: 0.7px;
				text-transform: uppercase;
			}
			.select-wrapper {
				display: inline-block;
				position: relative;
				button.btn {
					border: 0;
					color: var(--white-color);
					font-family: var(--bebas-font);
					color: var(--white-color);
					font-size: 14px;
					font-weight: 400;
					letter-spacing: 0.7px;
					text-transform: uppercase;
					line-height: 34px;
					border-radius: 0;
					height: unset;
					cursor: pointer;
					padding-right: 30px;
					text-transform: uppercase;
				}
			}
		}
	}
	&.footer-19 {
		padding: 90px 0 10px 0;
		.mailchimp_widget_box {
			border-bottom: 1px solid rgba($theme-color-white, 0.1);
		}
		.mailchimp_widget {
			max-width: 446px;
			.title {
				font-size: 36px;
				font-weight: 400;
				line-height: normal;
				margin-bottom: 22px;
			}
			.sub-title {
				font-size: 15px;
				font-weight: 400;
				line-height: 30px;
			}
			.input-field {
				color: var(--dark-color);
				font-family: var(--jakarta-font);
				font-size: 14px;
				line-height: 28px;
				text-transform: capitalize;
				&::placeholder {
					color: var(--dark-color);
				}
			}
			.subscribe-btn {
				font-size: 13px;
				font-weight: 600;
				font-family: var(--jakarta-font);
			}
		}
		.logo_widget {
			max-width: 240px;
			@include media-breakpoint-down(lg) {
				max-width: 100%;
			}
			.text {
				font-family: var(--jost-font);
				font-size: 15px;
				font-weight: 400;
				line-height: 30px;
			}
			li {
				a {
					opacity: 1;
				}
			}
		}
		.footer_qlink_widget {
			.title {
				font-size: 24px;
				font-weight: 400;
				line-height: normal;
				text-transform: capitalize;
			}
			li {
				font-family: var(--jost-font);
				font-size: 15px;
				font-weight: 400;
				line-height: 40px;
				text-transform: unset;
				a {
					opacity: 1;
				}
			}
		}
		.footer-btm-info {
			.select-wrapper {
				button.btn {
					padding-left: 0;
					font-family: var(--jost-font);
					font-size: 15px;
					font-weight: 400;
					line-height: 30px;
					text-transform: unset;
				}
			}
			.copyright {
				text-transform: unset;
				font-family: var(--jost-font);
				font-size: 13px;
			}
		}
	}
	.big-text {
		top: 142px;
		z-index: -1;
	}
}

.footer-16-social {
	gap: 20px;
	row-gap: 0px;
	margin-bottom: 22px !important;

	@include media-breakpoint-down(xxl) {
		gap: 14px;
	}
}

/*  Footer 18 Style  */
.home18-style{
	.footer_contact_widget{
		.title{
			color: var(--dark-color5);
			font-family: var(--jost-font);
		}
		.info{
			color: var(--dark-color5);
			font-family: var(--jost-font);
			font-size: 15px;
			line-height: 2;
		}
	}
	& .footer_mailchimp_form {
		& .form-control {
			border: 1px solid var(--gray-color);
			color: var(--dark-color5);
			font-size: 14px;
			font-weight: 400;
			height: 54px;
			padding: 0px 140px 0px 20px;
			text-transform: capitalize;
			width: 100%;
			@include su-placeholder {
				color: var(--dark-color5);
				text-transform: capitalize;
			}
		}
		& .subscribe-btn {
			background: transparent;
			border: none;
			color: var(--dark-color);
			height: 100%;
			padding: 10px 20px;
		}
	}
	.footer_qlink_widget {
		.title{
			color: var(--dark-color5);
			font-family: var(--jost-font);
			font-size: 16px;
			line-height: 1.44;
		}
		ul{
			li{
				a{
					color: var(--dark-color5);
					font-family: var(--jost-font);
					font-size: 15px;
					line-height: 2.66;
				}
			}
		}
	}
}

// blobal inner footer
.global-inner-footer {
	&.footer-12 {
		.footer_qlink_widget {
			.title {
				font-family: var(--jakarta-font);
				font-size: 13px;
				font-weight: 600;
				line-height: normal;
				letter-spacing: 0.26px;
			}
			li {
				font-family: var(--jakarta-font);
				font-size: 13px;
				font-weight: 400;
				line-height: 32px;
			}
		}
		.mailchimp_widget {
			.text {
				font-family: var(--jakarta-font);
				font-size: 13px;
				font-weight: 400;
				line-height: 24px;
			}
		}
		.footer-btm-info {
			border-top: 1px solid rgba($theme-color-white, 0.2);
			.select-wrapper {
				button {
					&.btn {
						border: 0;
						color: var(--white-color);
						font-family: var(--jakarta-font);
						font-size: 13px;
						font-weight: 400;
						line-height: 26px;
						border-radius: 0;
						height: unset;
						cursor: pointer;
						padding-right: 30px;
					}
				}
			}
		}
	}
}
.footer-top-social-wrapper {
	&.style22 {
		.footer_social_widget {
			text-align: center;
			ul {
				align-items: center;
				display: flex;
				gap: 30px;
				justify-content: center;
				li {
					a {
						color: var(--grayish-orange);
					}
				}
			}
		}
	}
}

.main-footer-container-wrapper {
	&.style22 {
		background-color: #241E17;
		.footer-quick-link-wrapper {
			&.style22 {
				padding: 80px 0 70px 0;
				.footer_qlink_widget {
					.title,
					h6 {
						color: var(--grayish-orange);
						font-size: 18px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						text-transform: uppercase;
					}
					.text {
						color: var(--grayish-orange);
						font-size: 13px;
						font-style: normal;
						font-weight: 400;
						line-height: 30px;
						padding-bottom: 20px;
					}
					.footer-contact {
						display: flex;
						flex-direction: column;
						a {
							color: var(--grayish-orange);
							font-size: 13px;
							font-style: normal;
							font-weight: 400;
							line-height: 30px;
						}
					}
					li a {
						color: var(--grayish-orange);
						font-size: 13px;
						font-style: normal;
						font-weight: 400;
						line-height: 40px;
					}
				}
				.mailchimp_widget {
					.title,
					h6 {
						color: var(--grayish-orange);
						font-size: 18px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						text-transform: uppercase;
					}
					.footer_mailchimp_form {
						margin-top: 46px;
						.form-control {
							border-color: var(--grayish-orange);
							color: var(--grayish-orange);
						}
						input::placeholder {
							color: var(--grayish-orange);
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: 40px;
						}
						.subscribe-btn {
							color: var(--grayish-orange);
							font-size: 13px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
							letter-spacing: 0.26px;
							top: 0;
						}
					}
				}
			}
		}
		.copyright-widget {
			&.style22 {
				padding: 40px 0;
				.text {
					color: var(--grayish-orange);
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: 24px;
				}
			}
		}
	}
}

/*  Footer 23 Style  */
.footer-wrapper {
	&.style23 {
		border-top: 1px solid var(--gray-color);
		padding-top: 84px;
		.footer_input_widget-wrapper {
			&.style23 {
				margin-right: 60px;				
				.title {
					color: var(--dark-color);
					font-style: normal;
					font-weight: 400;
					letter-spacing: 0.03em;
					margin-bottom: 24px;
			    @include responsive-font(24px, 3.12vw, 40px, 1.25);
				}
				.footer_mailchimp_form {
					.form-control {
						border: none;
						border-bottom: 1px solid var(--text-color);
						border-radius: 0;
						margin-left: 14px;
						padding-left: 0;
					}
					.submit-btn {
						background-color: rgba(0, 0, 0, 0);
						color: var(--dark-color);
						font-family: var(--jakarta-font);
						font-size: 13px;
						font-weight: 600;
						letter-spacing: 0.02em;
						line-height: 16px;
						position: absolute;
						right: 0px;
						top: 0;
					}
				}
				.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
					width: 100px;
				}
				.bootstrap-select button.btn {
					font-size: 14px;
					font-weight: 400;
					line-height: 30px;
					margin-top: 150px;
					width: 100px;
					@include media-breakpoint-down(xxl) {
						margin-top: 100px;
					}
					@include media-breakpoint-down(md) {
						margin-top: 50px;
						margin-bottom: 50px;
					}
				}
			}
			.footer_bottom_left_widgets.style23 .select2 button.btn {
				font-size: 14px;
		    font-weight: 400;
		    line-height: 30px;
		    width: 166px !important;
			}
			.footer_bottom_left_widgets.style23 button.btn {
				border: 1px solid var(--gray-color);
				border-radius: 0;
			}
		}
		.footer_qlink_widget .title {
			color: var(--dark-color);
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 28px;
			margin-bottom: 18px;
			text-transform: uppercase;
		}
		.footer_qlink_widget .list-unstyled li a {
			color: var(--dark-color);
			font-family: var(--dmsans-font);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 40px;
		}
	}
}
.copyright-wrapper {
	&.style23 {
		.copyright-widget {
			.title,
			.text {
				color: var(--dark-color);
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
			}
		}
		.copyright-social-wrapper {
			ul {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				gap: 30px;
				li {
					a {
						font-size: 14px;
						color: var(--black-color);
					}
				}
			}
		}
	}
}