/*
 * Frame.scss
 * -----------------------------------------------
*/

.su-frame-4-wrap{
    .bg-image{
        height: 860px;
        @media (max-width: 1600px) {
            height: 660px;
        }
        @include media-breakpoint-down(xl) {
            height: 460px;
        }
    }
    .lookbook-item{
        left: 37%;
        bottom: 140px;
        @include media-breakpoint-down(xl) {
            left: 5%;
        }
        &.style-home21-1{
            left: 40%;
            bottom: 210px;
            @media (max-width: 1499.98px){
                bottom: 150px;
                @include media-breakpoint-down(xl) {
                    bottom: 100px;
                }
                @include media-breakpoint-down(lg) {
                    bottom: 20%;
                }
            }
        }
        &.style-home21-2{
            bottom: 0;
            left: auto;
            right: 43%;
            top: 45%;
        }
        &.style-home23-1{
            left: 18%;
            bottom: 200px;
            @media (max-width: 1499.98px){
                bottom: 150px;
                @include media-breakpoint-down(xl) {
                    bottom: 100px;
                }
                @include media-breakpoint-down(lg) {
                    bottom: 20%;
                }
            }
        }
        &.style-home23-2{
            bottom: 0;
            left: auto;
            right: 55%;
            top: 42%;
        }
        &.style-home23-3{
            bottom: 0;
            left: auto;
            right: 15%;
            top: 55%;
        }
    }
    .dropdown-menu{
        padding: 10px 20px 10px 10px;
        width: 330px;
        background: var(--white-color);
        border-radius: 0;
        border: none;
        transform: translateY(-41%) !important;
        left: 40px !important;
        @include media-breakpoint-down(sm) {
            width: 277px;
        }
    }
    .product-images{
        width: 80px;
        margin-right: 20px;
    }
    .lookbook-product{
        display: flex;
        align-items: center;
    }
    .product-tag{
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.02em;
        color: var(--text-color);
        display: block;
        margin-bottom: 3px;
    }
    .product-title{
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: var(--dark-color);
        margin-bottom: 4px;
        display: inline-block;
    }
    .price{
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0.02em;
        color: var(--dark-color);
    }
    .tf-pin-btn {
        width: 26px;
        height: 26px;
        background-color: rgb(242, 242, 242);
        border-radius: 50%;
        border: 0;
        outline: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        span {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: var(--dark-color);
        }
        .pin-white{
            background-color: var(--white-color);
        }
        .pin-black{
            background-color: var(--dark-color);
            span{
            background-color: var(--white-color);

            }
        }
    }
    .tf-pin-btn::before{
        position: absolute;
        content: "";
        bottom: 5px;
        left: 5px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        animation: animate-pulse-2 3s linear infinite;
    }
    .tf-pin-btn2 {
        width: 26px;
        height: 26px;
        background-color: rgb(242, 242, 242);
        border-radius: 50%;
        border: 0;
        outline: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        span {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: var(--dark-color);
        }
        .pin-white{
            background-color: var(--white-color);
        }
        .pin-black{
            background-color: var(--dark-color);
            span{
            background-color: var(--white-color);

            }
        }
    }
    .tf-pin-btn2::before{
        animation: animate-pulse-2 3s linear infinite;
        border-radius: 50%;
        bottom: 5px;
        content: "";
        height: 15px;
        left: 5px;
        position: absolute;
        width: 15px;
    }
}
.su-frame-7-item.su-border{
    border-bottom: 1px solid #e6e6e6;
}

// Home 7 Style
.su-frame-7-item{
    display: flex;
    align-items: center;
    @include transition(0.4s);
    &.no-hover {
        opacity: 0.3 ;
    }
    .thumb{
        width: 100px;
        margin-right: 28px;
    }
    .title{
        font-weight: 500;
        font-size: 14px;
        color: var(--dark-color);
        margin-bottom: 5px;
        display: inline-block;
    }
    .ratings{
        margin-bottom: 6px;
        & span{
            font-weight: 400;
            font-size: 14px;
            color: #131c19;
        }
    }
    .price{
        font-weight: 500;
        font-size: 14px;
        color: var(--dark-color);
    }
}
.su-frame-7-wrap{
    @media #{$lg,$md,$sm,$xs} {
        margin-right: 0;
    }
    .su-frame-7-btn{
        margin-top: 50px;
    }
    .swiper-wrapper{
        flex-direction: column;
    }
}
.su-frame-7-right{
    .navigation-sw-dot{
        width: 26px;
        height: 26px;
        background-color: var(--white-color);
        border-radius: 50%;
        border: 0;
        outline: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        cursor: pointer;
        @include transition(0.4s);
        &:hover{
            transform: scale(1.1);
        }
        span {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: var(--dark-color);
        }
        ::before {
            position: absolute;
            content: "";
            bottom: 5px;
            left: 5px;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            animation: animate-pulse-2 3s linear infinite;
        }
        &.item-1{
            bottom: 205px;
            left: 262px;
            position: absolute;
        }
        &.item-2{
            top: 237px;
            bottom: auto;
            left: 173px;
            position: absolute;
        }
        &.item-3{
            bottom: 48%;
            transform: translateY(-50%);
            left: 212px;
            position: absolute;
        }
    }
}

// Home 8 Style
.su-frame-8-block{
    .su-frame-8-block-bg{
        border-radius: 24px;
        background: var(--text-gray-2);
    }
    .su-frame-7-right{
        .thumb{
            border-radius: 24px 0 0 0;
            @media #{$md,$sm,$xs} {
                border-radius: 24px;
            }
        }
    }
    .su-frame-7-wrap{
        padding: 0px 80px;
        padding-right: 110px;
        @media #{$xl} {
            padding: 0px;
            padding-right: 0;
        }
        @media #{$md,$sm,$xs} {
            padding-left: 15px;
            padding-right: 15px;
        }
        @media #{$lg,$md,$sm,$xs} {
            margin-top: 100px;
        }
    }
    .bundle-hover-item{
        transition: all .4s ease;
        @media #{$lg,$md,$sm,$xs} {
            margin-bottom: 40px;
        }
    }
    .bundle-hover-item.no-hover{
        opacity: 0.3;
    }
    .navigation-sw-dot.item-1 {
        bottom: 202px;
        left: auto;
        right: 284px;
        @media (max-width: 1500px) {
            right: 30%;
        }
        @media (max-width: 499px) {
            right: 30%;
            top: 70%;
        }
    }
    .navigation-sw-dot.item-2 {
        top: 465px;
        left: auto;
        right: 309px;
        position: absolute;
        @media (max-width: 1500px) {
            right: 30%;
            top: 43%;
        }
    }
    .su-brands-7-spacing{
        border-radius: 0px 0px 24px 24px;
    }
    &.at-home1{
        .navigation-sw-dot.item-1{
            @include media-breakpoint-down(lg){
                bottom: 20%;
                left: 36%;
                right: auto;
            }
        }
        .navigation-sw-dot.item-2{
            @include media-breakpoint-down(lg){
                right: 40%;
                top: 30%;
            }
        }
    }
}

// Home 13 Style
.frame-block-13 {
    .su-frame-7-wrap {
        @include media-breakpoint-down(xxl){
            padding-top: 0;
        }
        @include media-breakpoint-down(xl){
            margin-right: 0;
        }
        .su-frame-7-btn {
            margin-top: 60px;
        }
        .su-frame-7-item {
            .title {
                font-family: var(--bebas-font);
                font-size: 18px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.9px;
                text-transform: uppercase;
            }
            .price {
                font-family: var(--bebas-font);
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.8px;
                text-transform: uppercase;
            }
        }
    }
    .su-frame-7-right {
        .navigation-sw-dot {
            &.item-1 {
                bottom: 38px;
                left: 559px;
                @media (max-width: 1399.98px) {
                    left: 68%;
                }
                @include media-breakpoint-down(xl){
                    left: 360px;
                }
                @include media-breakpoint-down(lg){
                    left: 470px;
                }
                @include media-breakpoint-down(md){
                    left: 68%;
                }
                @include media-breakpoint-down(sm){
                    left: 200px;
                }
            }
            &.item-2 {
                left: 253px;
                @media (max-width: 1399.98px) {
                    left: 200px;
                    top: 187px;
                }
                @include media-breakpoint-down(xl){
                    left: 150px;
                    top: 105px;
                }
                @include media-breakpoint-down(lg){
                    left: 30%;
                    top: 20%;
                }
                @include media-breakpoint-down(sm){
                    left: 80px;
                    top: 85px;
                }
            }
            &.item-3 {
                bottom: 43%;
                left: 387px;
                @media (max-width: 1399.98px) {
                    left: 317px;
                }
                @include media-breakpoint-down(xl){
                    left: 260px;
                }
                @include media-breakpoint-down(sm){
                    left: 150px;
                    top: 185px;
                }
            }
        }
    }
    .su-btn-16-black {
        font-family: var(--bebas-font);
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.9px;
        text-transform: uppercase;
    }
}

.frame-13-area {
    &.su-frame-4-wrap {
        .product-images {
            width: 60px;
            margin-right: 20px;
        }
        .dropdown-menu {
            width: 203px;
            .product-title {
                font-family: var(--bebas-font);
                font-size: 18px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.36px;
                text-transform: uppercase;
            }
            .price {
                font-family: var(--bebas-font);
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.32px;
                text-transform: uppercase;
            }
        }
        .lookbook-item {
            &.pin1 {
                left: 157px;
                top: 209px;
                @include media-breakpoint-down(xl) {
                    left: 30%;
                    top: 35%;
                }
            }
            &.pin2 {
                bottom: 105px;
                left: 77%;
            }
            &.pin3 {
                bottom: 320px;
                left: 34%;
                @include media-breakpoint-down(xl) {
                    bottom: 210px;
                }
                @include media-breakpoint-down(md) {
                    bottom: 60%;
                }
            }
            &.pin4 {
                bottom: 144px;
                left: 238px;
                @include media-breakpoint-down(xl) {
                    bottom: 104px;
                    left: 148px;
                }
                @include media-breakpoint-down(md) {
                    bottom: 25%;
                    left: 50%;
                }
            }
            &.pin5 {
                left: 168px;
                top: 43px;
                @include media-breakpoint-down(xl) {
                    left: 108px;
                    top: 23px;
                }
                @include media-breakpoint-down(md) {
                    left: 38%;
                    top: 10%;
                }
            }
            &.pin6 {
                bottom: unset;
                left: 231px;
                top: 367px;
                @include media-breakpoint-down(xl) {
                    left: 200px;
                    top: 294px;
                }
                @include media-breakpoint-down(md) {
                    left: 50%;
                    top: 60%;
                }
            }
        }
    }
}