.su-header-global-middle {
    &.inner-style {
        .list-inline-item {
            // .select2 button.btn {
            //     font-size: 14px;
            //     width: 150px;
            // }
            .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                width: 125px;
            }
            .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
                color: var(--dark-color);
                font-family: var(--body-font);
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: 0.24px;
                text-transform: uppercase;
            }
        }
    }
}
