.su-header-global-middle {
    &.inner-style {
        .list-inline-item {
            // .select2 button.btn {
            //     font-size: 14px;
            //     width: 150px;
            // }
            .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                width: 125px;
            }
            .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
                color: var(--dark-color);
                font-family: var(--body-font);
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: 0.24px;
                text-transform: uppercase;
            }
        }
    }
}

.su-header-global-bottom {
    &.inner-style {
        border-bottom: 1px solid var(--gray-color);
        .su-menu-4 {
            text-align: center;
        }
        .su-menu-4>nav>ul>li {
            display: inline-block;
            margin-right: 20px;
            position: relative;
            a {
                color: var(--dark-color);
                font-family: var(--title-font4);
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0.24px;
                &::before {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 1px;
                    bottom: -3px;
                    left: auto;
                    right: 0;
                    background: var(--dark-color);
                    opacity: 0;
                    transition: all .4s ease;
                }
            }
            .sub-menu li a {
                color: var(--dark-color) !important;
            }
            .su-mega-menu-4 .thumb .title a {
                font-size: 16px;
                color: var(--dark-color);
                font-weight: 500;
                font-family: var(--body-font);
                background-image: linear-gradient(#1D1D1D, #1D1D1D), linear-gradient(#1D1D1D, #1D1D1D);
                background-size: 0 1px, 0 1px;
                background-position: 100% 100%, 0 100%;
                background-repeat: no-repeat;
                transition: background-size .3s linear;
            }
            .su-mega-menu-4 nav ul li a {
                font-weight: 500;
                font-size: 13px;
                color: var(--dark-color) !important;
                transition: all .4s ease;
                display: inline-block;
            }
        }
        .sub-menu>li>a {
            color: var(--dark-color);
        }
    }
}