/*
 * Instagram Feed 
 * -----------------------------------------------
 */

 .instagram-feed{
  background-color: var(--bleached-linen);
  position: relative;
  &.bgc-thm11{
    background-color: var(--theme-color11);
  }
  &.home16-style{
    background-color: transparent;
  }
  .swiper-container.home9-style{
    margin-right: -70px;
  }
}
.insta-container-home7{
  @include media-breakpoint-down(xl) {
    overflow-x: auto;
    position: relative;
  }
  .item{
    min-width: 248px;
    margin-bottom: 20px;
    margin-right: 10px;
  }
}
.instagram-item{
  .thumb{
    overflow: hidden;
    position: relative;
    img{
      width: 100%;
      @include transition(0.7s);
    }
  }
  &:hover{
    cursor: pointer;
    img{
      transform: scale(1.1) rotate(2deg);
    }
  }
  &-home20 {
    .thumb {
      overflow: hidden;
      position: relative;
      img {
        position: relative;
        object-fit: cover;
        -webkit-transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18);
        transition: transform 1.5s cubic-bezier(0, 0, 0.44, 1.18);
      }
      .icon1 {
        color: var(--white-color);
        font-size: 18px;
        left: 15px;
        position: absolute;
        top: 15px;
        a{
          color: var(--white-color);
        }
      }
      .icon2 {
        align-items: center;
        background-color: var(--dark-color);
        border-radius: 50%;
        bottom: 20px;
        color: var(--white-color);
        display: flex;
        font-size: 16px;
        height: 45px;
        line-height: 45px;
        justify-content: center;
        position: absolute;
        right: 20px;
        text-align: center;
        width: 45px;
        @include transition(0.3s);
        &:hover{
          background-color: var(--white-color);
          color: var(--dark-color);
          font-weight: 600;
          a{
            color: var(--dark-color);
          }
        }
        a{
          color: var(--white-color);
        }
      }
    }
    .content{
      .title {
        padding-top: 10px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.48px;
        line-height: 28px;
      }            
    }
    &:hover {
      cursor: pointer;
      img {
        transform: scale(1.09);
      }
    }
  }
}


.su-instagram-wrap{
  .thumb{
    overflow: hidden;
    img{
      @include transition(0.4s);
    }
    &:hover{
      img{
        transform: scale(1.1);
      }
    }
  }
}
.su-instagram-8-wrap{
  .thumb{
    border-radius: 12px;
  }
  .thumb img{
    border-radius: 12px;
  }
}
// Instagram Feed 16 Style
.su-instagram-feed-16-area {
  & .feed-image {
    overflow: hidden;
    img {
      @include transition(0.5s);
    }
    &:hover {
      & img {
        transform: scale(1.1) rotate(2deg);
      }
    }
  }
  &.style9{
    background: var(--theme-color14);
  }
  &.style14 {
    @include media-breakpoint-down(xxl) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @include media-breakpoint-down(xl) {
      padding-left: 15px;
      padding-right: 15px;
    }
    @include media-breakpoint-down(lg) {
      padding-left: 24px;
      padding-right: 24px;
    }
    @include media-breakpoint-down(md) {
      padding-left: 18px;
      padding-right: 18px;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  &.style19{
    .inst-item-big{
      height: 100%;
      img{
        object-fit: cover;
        height: 100%;
      }
    }
  }
}

// Instagram Feed 23 Style

.instagram-card {
  &.style23 {
    background-color: var(--light-grayish-orange);
    margin-bottom: 20px;
    padding: 50px 70px;
    @include media-breakpoint-down(lg) {
      padding: 40px 30px;
    }
    .content {
      .title {
        color: var(--black-color);
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 15px;
      }
      .auth-info {
        display: flex;
        align-items: center;
        gap: 20px;
        .thumb {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
        }
        .title {
          color: var(--black-color);
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding-bottom: 6px;
        }
      }
      .tn-log {
      padding: 16px 35px;
      background: var(--dark-color);
      max-width: 230px;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: .02em;
      color: var(--white-color);
      border: none;
      margin-top: 20px;
    }
    }
  }
}
.insta23-thumb {
  overflow: hidden;
  @include media-breakpoint-down(xxl) {
    margin-bottom: 20px;
  }
  img {
    height: 300px;
    width: 100%;
    @include transition(0.4s);
    @include media-breakpoint-down(xxl) {
      height: 200px;
    }
    @include media-breakpoint-down(xl) {
      height: auto;
    }
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}