// Home Layout 25 About SCSS
.about-text {
  &.style25 {
    .title {
      color: var(--dark-color7);
      text-align: center;
      text-transform: uppercase;
      padding: 0 10px;
      @include responsive-font(26px, 2.5vw, 40px, 1.75);
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
      span{
        color: var(--theme-color43);
      }
    }
  }
}
.large-product-section{
  background-color: var(--off-white);
}
// Home Layout 25 Banner SCSS
.banner-slider-wrapper{
  &.style25{
    position: relative;
    .banner-slider-item {
      &.style25{
        position: relative;
        .thumb{
          img{
            height: 100%;
            object-fit: cover;
            width: 100%;
            @include media-breakpoint-down(md) {
              height: 500px;
            }
            @include media-breakpoint-down(sm) {
              height: 450px;
            }
          }
        }
        .banner-slider-content{
          &.style25{
            position: absolute;
            left: 60px;
            bottom: 90px;
            max-width: 570px;
            @include media-breakpoint-down(md) {
              top: 90px;
              bottom: 100px;
            }
            @include media-breakpoint-down(sm) {
              left: 30px;
            }
            .subtitle{
              color: var(--white-color);
              font-family: var(--jost-font);
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              text-transform: uppercase;
              padding-bottom: 10px;
            }
            .title{
              color: var(--white-color);
              font-family: var(--marcellus-font);
              font-style: normal;
              font-weight: 400;
              text-transform: uppercase;
              padding-bottom: 16px;
              @include responsive-font(36px, 3.75vw, 60px, 1.25);
            }
            .banner-btn-wrapper{
              .theme-btn{
                background-color: transparent;
                border: 1px solid var(--white-color);
                color: var(--white-color);
                &:hover{
                  border: 1px solid var(--black-color);
                }
              }
              
            }
          }
        }
      }
    }
    .swiper-arrow{
      &.style25{
        align-items: center;
        bottom: 100px;
        display: flex;
        gap: 30px;
        justify-content: end;
        position: absolute;
        right: 60px;
        z-index: 9;
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }
}
// Home Layout 25 Collection SCSS
.collection-wrapper{
  &.style25{
    margin-right: -150px;
    overflow: hidden;
    @include media-breakpoint-down(md) {
      margin-right: 0;
    }
  }
}
.collection-item {
  &.style25 {
    position: relative;
    .thumb {
      img {
        width: 100%;
      }
    }
    .content {
      bottom: 20px;
      left: 20px; 
      position: absolute;
      right: 20px;
      .title {
        a {
          position: relative;
          color: var(--dark-color7);
          background-color: var(--white-color);
          z-index: 1;
          line-height: 1;
          font-family: var(--jost-font);
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          display: block;
          width: 100%;
          padding: 20px 0;
          letter-spacing: .30px;
        }
      }
    }
  }
}
// Home Layout 25 Countdown SCSS
.counter-wrapper {
  &.style25 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
    .counter-text {
      @include media-breakpoint-down(md) {
        text-align: center;
      }
      .title {
        color: var(--white-color);
        font-family: var(--marcellus-font);
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        text-transform: uppercase;
        @include media-breakpoint-down(xs) {
          font-size: 30px;
        }
      }
      .text {
        color: var(--white-color);
        font-family: var(--marcellus-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        text-transform: capitalize;
      }
    }
    .counter-main-block {
      align-items: center;
      display: flex;
      gap: 60px;
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
      }
      .our-clock {
        display: flex;
        gap: 30px;
        .clock-item {
          text-align: center;
          .timer {
            color: var(--white-color);
            font-family: var(--marcellus-font);
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.2px;
          }
          .text {
            color: var(--white-color);
            font-family: var(--marcellus-font);
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            letter-spacing: .28px;
          }
        }
      }
    }
    .counter-btn-wrapper {
      .black-btn {
        align-items: center;
        border: 1px solid var(--white-color);
        color: var(--white-color);
        display: flex;
        height: 54px;
        justify-content: center;
        line-height: 1;
        padding: 12px 35px;
      }
    }
  }
}
// Home Layout 25 Footer SCSS
.footer-section {
  &.style25 {
    padding: 30px 0 40px 0;
    position: relative;
    background-color: var(--dark-color);

    .footer_qlink_widget,
    .mailchimp_widget {
      position: relative;

      .title {
        color: var(--white-color);
        font-family: var(--jost-font);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        padding-bottom: 20px;
      }
      ul {
        margin: 0;
      }
      li {
        @include footer-link-typo1;
        line-height: 32px;
        a {
          color: var(--white-color);
          font-family: var(--jost-font);
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 40px;
        }
      }


      .footer-social-wrapper {
        ul {
          display: flex;
          align-items: center;
          gap: 16px;
          font-size: 16px;
        }
      }
    }
    .mailchimp_widget {
      position: relative;
      .text {
        color: var(--white-color);
        font-family: var(--jost-font);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
      }
    }
    .acceped_card_list {
      img {
        width: 26px;
      }
    }
    .footer_mailchimp_form {
      position: relative;
      margin: 20px 0 30px 0;
      .form-control {
        border: none;
        background-color: var(--white-color);
        border-radius: 0;
        height: 54px;
        padding: 0px 0px 0px 20px;
        width: 100%;
        &::placeholder {
          color: var(--dark-color);
          font-family: var(--jost-font);
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 40px;
        }
        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
      .submit-btn {
        background-color: transparent;
        color: var(--dark-color);
        font-family: var(--jost-font);
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 54px;
        position: absolute;
        right: 20px;
        top: 0;
        i {
          display: inline-block;
          font-size: 16px;
          padding-left: 10px;
        }
      }
    }
    .copyright-widget {
      .text {
        color: var(--white-color);
        font-family: var(--jost-font);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
      }
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
      width: 100px;
    }
    .footer_bottom_left_widgets .bootstrap-select button.btn {
      width: 100px;
      color: var(--white-color);
      font-family: var(--jost-font);
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
    }
    .footer_bottom_left_widgets.style25 .select2 button.btn {
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      width: 166px !important;
    }
  }
}
// Home Layout 25 Header SCSS
.su-header-global-area {
  &.style25 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 11;

    .su-header-global-middle {
      background-color: transparent;
      border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    }
    .su-menu-4>nav>ul>li>a {
      color: var(--white-color);
      font-size: 13px;
      font-weight: 400;
      font-family: var(--jost-font);
      text-transform: uppercase;
    }
    .discount {
      .text {
        text-transform: uppercase;
        font-weight: 400;
        font-family: var(--jost-font);
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
      }
    }
  }
}
// Home Layout 25 Instagram SCSS
.instagram-item {
  &.style20 {
    text-align: center;
    overflow: hidden;

    .thumb {
      position: relative;
      overflow: hidden;

      img {
        object-fit: cover;
        -webkit-transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18);
        transition: transform 1.5s cubic-bezier(0, 0, 0.44, 1.18);
      }
      .featured-icon1 {
        position: absolute;
        left: 10px;
        top: 10px;

        i {
          font-size: 18px;
          color: var(--white-color);
        }
      }
      .featured-icon2 {
        position: absolute;
        right: 10px;
        bottom: 10px;

        a {
          background-color: var(--dark-color);
          height: 45px;
          width: 45px;
          border-radius: 50%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--white-color);
          font-size: 16px;
        }
      }
    }
    .instagram-content {
      .title {
        padding-top: 10px;

        a {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0.48px;
          color: var(--dark-color);
        }
      }
    }

    &:hover {
      .thumb {
        img {
          transform: scale(1.09);
        }
      }
    }
  }
}
// Home Layout 25 Large Product SCSS
.large-product-wrapper{
  &.style25{
    .thumb{
      img{
        width: 100%;
      }
    }
    .large-product-right{
      &.style25{
        max-width: 390px;
        margin: auto;
        background-color: var(--white-color);
        padding: 20px;
        @include media-breakpoint-down(xl) {
         margin: 30px auto;
       }
     }
   }
 }
}
// Home Layout 25 Looking Product SCSS
.look-book-content{
  &.style25{
    padding-left: 160px;
    height: 100%;
    @include media-breakpoint-down(xl) {
      padding-left: 100px;
    }
    @include media-breakpoint-down(md) {
      padding: 60px 0 60px 80px;
    }
    @include media-breakpoint-down(sm) {
      padding: 60px 0 60px 30px;
    }
    .subtitle{
      color: var(--dark-color7);
      font-family: var(--jost-font);
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      padding-bottom: 6px;
    }
    .title{
      color: var(--dark-color7);
      font-family: var(--title-font11);
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 60px;
      text-transform: uppercase;
      padding-bottom: 44px;
      @include media-breakpoint-down(lg) {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 20px;
      }
    }
  }
}

// Home Layout 25 Product SCSS
.shop-item {

  &.style25 {
    text-align: center;
    @include media-breakpoint-down(lg) {
      margin-bottom: 30px;
    }
    .thumb {
      position: relative;

      &:hover .add-to-cart {
        opacity: 1;
        transform: translateY(0px);
        transition-delay: 400ms;
        z-index: 1;
      }
      .add-to-cart {
        position: absolute;
        bottom: 10px;
        left: 10px;
        transform: translateY(20px);
        opacity: 0;
        transition: all 300ms ease;
        background-color: var(--white-color);
        width: 95%;
        text-align: center;
        padding: 20px 35px;
        right: 10px;

        a {
          position: relative;
          color: var(--dark-color);
          z-index: 1;
          line-height: 1;
          font-family: var(--jost-font);
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 1;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }


      }
      .wishlist {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1;

        a {
          background-color: var(--white-color);
          height: 30px;
          width: 30px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            color: var(--text-color);

          }
        }

      }
    }
    .navigation span{
      position: absolute;
      color: var(--dark-color);
      width: 22px;
      height: 22px;
      text-align: center;
      line-height: 22px;
      display: inline-block;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: all .4s ease;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      svg{
        padding-bottom: 3px;
      }
    }
    .navigation span:hover{
      background: var(--dark-color);
      color: var(--white-color);
    }
    .navigation span.product-next{
      left: auto;
      right: 0;
    }
    .shop-content {
      padding-top: 16px;
      .subtitle {
        color: var(--dark-color);
        font-family: var(--jost-font);
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        padding-bottom: 4px;
      }
      .title {
        a {
          color: var(--dark-color);
          font-family: var(--jost-font);
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.30px;
          @include media-breakpoint-down(xl) {
           font-size: 14px;
         } 
       }
     }

     .text {
      padding-top: 7px;
      color: var(--dark-color);
      font-family: var(--jost-font);
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  &:hover{
    .navigation span{
      opacity: 1;
      visibility: visible;
    }
  }
}
}
// Home Layout 25 SHOP Look SCSS
.shop-look-wrapper{
  &.style25{
    .thumb{
      img{
        width: 100%;
      }
    }
    .shop-look-content{
      &.style25{
        max-width: 390px;
        margin: auto;
        background-color: var(--white-color);
        padding: 20px;
      }
    }
    .swiper-arrow{
      &.style25{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding-top: 30px;
        @include media-breakpoint-down(sm) {
          padding-top: 0px;
        }
      }
    }
  }
}
// Home Layout 25 Testimonial SCSS
.testimonial-wrapper {
  &.style25 {
    .testimonial-content-wrapper {
      padding-right: 160px;
      @include media-breakpoint-down(xl) {
        padding-right: 30px;
      }
      @include media-breakpoint-down(md) {
        padding-right: 0px;
      }
      .subtitle {
        color: var(--dark-color7);
        font-family: var(--marcellus-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        padding-bottom: 42px;
        @include media-breakpoint-down(xl) {
          padding-bottom: 20px;
        }
        @include media-breakpoint-down(sm) {
          padding-bottom: 10px;
        }
      }
      .ratings {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 4px;

        li {
          i {
            font-size: 11px;
            color: var(--dark-color7);
          }
        }
      }
      .text {
        color: var(--dark-color7);
        font-family: var(--marcellus-font);
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.03em;
        margin-top: 40px;
        @include responsive-font(18px, 1.5vw, 24px, 1.66);
        @include media-breakpoint-down(xl) {
          margin-top: 20px;
        }
        @include media-breakpoint-down(sm) {
          margin-top: 10px;
        }
      }
      .name{
        color: var(--dark-color7);
        font-family: var(--marcellus-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        padding-top: 42px;
        padding-bottom: 42px;
        @include media-breakpoint-down(xl) {
          padding: 20px 0;
        }
      }
    }
    .thumb{
      @include media-breakpoint-down(lg) {
        margin-top: 30px;
      }
      img{
        width: 100%;
      }
    }
    .swiper-arrow{
      &.style25{
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 30px;
      }
    }
  }
}
// Home Layout 25 Video SCSS
.before-after-wrapper{
  &.style25{
    position: relative;
    .beforeAfter-slide-image {
      position: relative;
      width: 100%;
      height: 632px;
      border: none;
      background-color: transparent;
      overflow: hidden;
      
      .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
      }
      
      .slider {
        position: absolute;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 101%;
        height: 100%;
        background: transparent;
        outline: none;
        margin: 0;
        padding: 0;
        border: none;
        transition: all 0.2s;
        text-align: center;
        
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 3px;
          height: 632px;
          background: var(--white-color);
          cursor: pointer;
        }
        
        &::-moz-range-thumb {
          width: 2px;
          height: 600px;
          background: var(--white-color);
          cursor: pointer;
        }
      }
      
      .foreground-img {
        background-position: left center;
        width: 49.5%;
      }
      
      .slider-button {
        pointer-events: none;
        position: absolute;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        left: calc(50% - 36px);
        top: calc(50% - 40px);
        text-align: center;
        background: var(--dark-color);
        border: 3px solid var(--white-color);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        
        &:after {
          content: "";
          display: inline-block;
          width: 2px;
          height: 20px;
          border-right: solid 2px var(--white-color);
          position: absolute;
          left: 22px;
          top: 50%;
          transform: translate(0, -50%);
        }
        
        &:before {
          content: "";
          display: inline-block;
          width: 2px;
          height: 20px;
          border-left: solid 2px var(--white-color);
          position: absolute;
          right: 22px;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
      
      @media (max-width: 991px) {
        height: 400px;
      }
      
      @media (max-width: 767px) {
        height: 190px;
      }
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      margin-top: -50px;
      z-index: 9;
      padding: 0 40px;
      @include media-breakpoint-down(md) {
        padding: 0 20px;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
      .text {
        color: var(--white-color);
        font-family: var(--marcellus-font);
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.26px;
        text-transform: uppercase;
      }
    }
  }
}