.scrolling-wrap {
    &.home1 {
        background-color: var(--dark-color);
        display: flex;
        gap: 40px;
        overflow: hidden;
        position: relative;
        padding: 50px 0;
        white-space: nowrap;
        .comm {
            display: flex;
            align-items: center;
            animation: scroll 20s linear infinite;
            gap: 100px;
            cursor: pointer;
            .cmn-textslide {
                color: var(--white-color);
                font-weight: 600;
                font-size: 13px;
                line-height: 16px;
                letter-spacing: 0.02em;
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes scroll2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}