/*
 * product.scss
 * -----------------------------------------------
*/

.shop-process-btns{
    li{
        &:hover{
            .tooltip{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
.tooltip {
  z-index: 202;
  opacity: 0;
  visibility: hidden;
  display: block;
  position: absolute;
  top: 0%;
  right: 40px;
  margin-top: 0px;
  border-radius: 2px;
  white-space: nowrap;
  background-color: var(--dark-color);
  color: var(--white-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  padding: 7px 10px 9px;
  max-width: 250px;
  width: max-content;
  transition: transform 0.4s ease 0.2s, opacity 0.4s ease 0.2s;
}
.tooltip::before {
  content: "";
  top: 40%;
  transform: translateX(-50%) rotate(45deg);
  right: -7px;
  position: absolute;
  background: var(--dark-color);
  width: 8px;
  height: 8px;
  z-index: 100;
}

