/*  Video home 12 style  */
.video-12-area {
  .video {
    padding: 233px 20px;
    @include media-breakpoint-down(xxl) {
      padding: 163px 0;
    }
    @include media-breakpoint-down(md) {
      padding: 123px 0;
    }
    @include media-breakpoint-down(sm) {
      padding: 80px 0;
    }
  }
  .title {
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    @include media-breakpoint-down(xxl) {
      margin-top: 30px;
    }
  }
}

/*  Video home 14 style  */

.su-video-14-area {
  @include media-breakpoint-down(xxl) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include media-breakpoint-down(xl) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @include media-breakpoint-down(lg) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include media-breakpoint-down(md) {
    padding-left: 18px;
    padding-right: 18px;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 0px;
    padding-right: 0px;
  }
  .video {
    border-radius: 30px;
    img {
      @include media-breakpoint-down(sm) {
        height: 250px;
        object-fit: cover;
      }
    }
    .play-btn {
      color: var(--white-color);
      font-size: 13px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.26px;
      display: flex;
      width: 150px;
      height: 150px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--white-color);
      @include transition(0.4s);
      @include media-breakpoint-down(lg) {
        width: 110px;
        height: 110px;
      }
      &:hover {
        background: var(--white-color);
        color: var(--dark-color);
      }
    }
  }

  .text {
    .title {
      color: var(--dark-color);
      font-family: var(--opensans-font);
      font-size: 40px;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;

      @include media-breakpoint-down(md) {
        font-size: 30px;
      }
    }

    p {
      color: var(--dark-color);
      font-family: var(--opensans-font);
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      text-transform: capitalize;
    }
  }

  &.shop-video {
    .video {
      padding: 0 0;
      .text {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
        padding: 265px 20px;
        @include media-breakpoint-down(xxl) {
          padding: 160px 20px;
        }
        @include media-breakpoint-down(lg) {
          padding: 100px 20px;
        }
        .info {
          max-width: 655px;
          margin: 0 auto;
          p {
            font-family: var(--jakarta-font);
            @include media-breakpoint-down(lg){
              margin-top: 20px !important;
            }
          }
          .title {
            font-family: var(--jakarta-font);
            font-size: 40px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 1.2px;
            @include media-breakpoint-down(xxl) {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}

/*  Video home 16 style  */
.su-video-16-item {
  & .prd-video {
    height: 550px;

    @include media-breakpoint-down(xxl) {
      height: 400px;
    }

    video {
      object-fit: cover;
      height: 550px;

      @include media-breakpoint-down(xxl) {
        height: 400px;
      }
    }
  }

  & .popup-video {
    width: 60px;
    height: 60px;
    backdrop-filter: blur(5px);
    background: rgba($theme-color-dark, 0.3);

    svg {
      stroke: var(--white-color);
    }
  }
}