/*** 

====================================================================
Reset
====================================================================

***/

*{
  margin:0px;
  padding:0px;
  border:none;
  outline:none;
  font-size: 100%;
}

::-webkit-input-placeholder{color: #7c858c;}
::-moz-input-placeholder{color: #7c858c;}
::-ms-input-placeholder{color: #7c858c;}

::selection {
  background: var(--theme-color1);
  color: var(--text-white);
  text-shadow: none;
}

::-moz-selection {
  background: #333; /* Firefox */
  color: var(--text-white);
  text-shadow: none;
}

::-webkit-selection {
  background: #333; /* Safari */
  color: var(--text-white);
  text-shadow: none;
}
:active,
:focus { outline: none !important; }

section{
  position: relative;
}

/*=======================
  Preloader
  =======================*/

  .preloader {
    background-color: #eaeaea;
    background-image: url("../images/preloader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99999;
  }


/*=======================
Scroll To Top style
=======================*/

.scrollToHome {
  background-color: #f5c34b;
  border-radius: 6px;
  bottom: -45px;
  color: #ffffff;
  display: block;
  height: 45px;
  line-height: 45px;
  opacity: 0;
  position: fixed;
  right: 45px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 9;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(36, 65, 231, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(36, 65, 231, 0.3);
  -o-box-shadow: 0px 1px 4px 0px rgba(36, 65, 231, 0.3);
  box-shadow: 0px 1px 4px 0px rgba(36, 65, 231, 0.3);
  @include transition(0.3s);
}

.scrollToHome:hover {
 color: #ffffff;
}
.scrollToHome.show {
  bottom: 45px;
  right: 45px;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/*=== Padding Top Responsive ===*/
.pt0-xxl{
  @include media-breakpoint-down(xxl) {
    padding-top: 0;
  }    
}

/*=== Theme Color Text ===*/
.text-color{
  color: var(--text-color);
}
.title-color,
.headings-color{
  color: var(--headings-color);
}
.text-dark2{
  color: var(--dark-color2);
}
.text-thm1{
  color: var(--theme-color1);
}
.text-thm2{
  color: var(--theme-color2);
}
.text-thm3{
  color: var(--theme-color3);
}
.text-thm4{
  color: var(--theme-color4);
}
.text-thm5{
  color: var(--theme-color5);
}
.text-thm6{
  color: var(--theme-color6);
}
.text-thm7{
  color: var(--theme-color7);
}

/*=== Theme Color Text ===*/
.bgc-text-color{
  background-color: var(--text-color);
}
.bgc-gray{
  background-color: var(--gray-color);
}
.bgc-dark{
  background-color: var(--dark-color);
}
.bgc-dark2{
  background-color: var(--dark-color2);
}
.bgc-title-color,
.bgc-heaings-color{
  color: var(--headings-color);
}
.bgc-thm1{
  background-color: var(--theme-color1);
}
.bgc-thm2{
  background-color: var(--theme-color2);
}
.bgc-thm3{
  background-color: var(--theme-color3);
}
.bgc-thm4{
  background-color: var(--theme-color4);
}
.bgc-thm5{
  background-color: var(--theme-color5);
}
.bgc-thm6{
  background-color: var(--theme-color6);
}
.bgc-thm7{
  background-color: var(--theme-color7);
}
/*=== List Of Font Family ===*/

.pt165{
  @media #{$sm,$xs} {
    padding-top: 125px;
  }
}
.pb160 {
  @media #{$sm,$xs} {
    padding-bottom: 120px;
  }
}
.pt140{
  @media #{$sm,$xs} {
    padding-top: 100px;
  }
}
// bootstrap selection 
.bootstrap-select{
  .dropdown-menu{
    &.inner{
      width: 160px;
    }
    li {
      margin: 0 20px;
      padding-left: 0;
      &:hover{
        a{
          color: var(--black-color);
        }
      }
    }
    a {
      background-color: transparent;
      color: var(--black-color);
      font-size: 13px;
      font-family: var(--jakarta-font);
      font-weight: 500;
      line-height: 35px;
      letter-spacing: 0.02em;
      padding: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
      }
    }
  }
  .dropdown-toggle {
    background-color: transparent;
    border: none;
    &:hover,
    &:active,
    &:focus{
      outline: none !important;            
    }
    &:after {
      vertical-align: 0.1em;
    }
    &:before{
      // display: none;
    }
  }
}
.zi0 {
 z-index: 0;
}
.zi1 {
 z-index: 1;
}
.zi9 {
 z-index: 9;
}
.zi-1 {
 z-index: -1;
}
.z0 {
  z-index: 0 !important;
}
.z-1 {
 z-index: -1;
}
.z9 {
 z-index: 9;
}
.z99 {
 z-index: 99;
}
.bb1{
  border-bottom: 1px solid var(--gray-color);
}
.before-none,
.before_none{
  &:before{
    display: none;
  }
}
.icon-text-list{
  display: flex;
  flex-wrap: wrap;
  li{
    @include sub-title1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding-right: 15px;
    margin-bottom: 25px;
    width: 50%;
  }
}
.fraction-pagination{
  color: var(--dark-color);
  font-size: 14px;
  font-weight: var(--font-weight-500);
  line-height: 28px;
}
.cursor-pointer{
  cursor: pointer;
}
.slider-right-outer{
  margin-right: -250px;
  @include media-breakpoint-down(lg) {
    margin-right: 0;
  }
}
.swiper-scrollbar{
  width: 100%;
  height: 3px;
  background: var(--text-gray-2);
}
.swiper-scrollbar-drag {
  background: var(--dark-color);
}
.swiper-scrollbar-2{
  width: 100%;
  height: 3px;
  background: var(--text-gray-2);
}
.navigation{
  &.dark-style{
    span.prev,
    span.next{
      color: var(--dark-color5);
    }
  }
}
.swiper-pagination-bullet{
  &.swiper-pagination-bullet-active{
    height: 10px;
    width: 10px;
  }
}
.swiper-default-nav{
  bottom: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  .navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    width: 100%;
    span{
      background: var(--white-color);
      border: 1px solid var(--gray-color);
      border-radius: 50px;
      cursor: pointer;
      display: inline-block;
      height: 50px;
      line-height: 44px;
      text-align: center;
      @include transition(0.4s);
      width: 50px;
      position: relative;
      &:hover{
        background: var(--dark-color);
        border-color: var(--dark-color);
        color: var(--white-color);
      }
    }
  }
  &.home20-style{
    top: 60%;
    @include media-breakpoint-down(md) {
      top: 55%;
    }
    .navigation{
      max-width: 1730px;
      .product-prev{
        left: 0px;
      }
      .product-next{
        right: 0px;
      }
    }
  }
}
.swiper-slide{
  .bg{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
.auto-flex-container{
  @include media-breakpoint-down(xl) {
    overflow-x: auto;
    position: relative;
  }
  &.home1-style{
    .item{
      min-width: 590px;
      margin-right: 15px;
      @include media-breakpoint-down(xl) {
        min-width: 300px;
      }
      @include media-breakpoint-down(sm) {
        min-width: 280px;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
.transparent-text{
  .title{
    font-style: normal;
    font-weight: 400;
    @include responsive-font(35px, 3.125vw, 50px, 1.26);
    letter-spacing: 0.03em;
    padding: 25px 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: var(--white-color);
    -webkit-text-stroke-width: 0.4px;
    @include transition(0.4s);
    &:hover{
      -webkit-text-fill-color: var(--white-color);
    }
    &.active{
      -webkit-text-fill-color: var(--white-color);
    }
    @include media-breakpoint-down(xl) {
    }
    @include media-breakpoint-down(lg) {
      padding: 0px 4px;
    }
  }
}
.sticky-section{
  position: sticky;
  top: 0;
  @include media-breakpoint-down(lg) {
    position: relative;
    top: auto;
  }
}