/*  Job Box Style One  */
.job-box{
  .inner-box{
    background-color: #fff;
    border: 1px solid #F2F2F9;
    border-radius: 24px;
    margin-bottom: 40px;
    padding: 30px;
    position: relative;
    transition: all ease 400ms;
    &:hover{
      box-shadow: 0px 5px 16px rgba(198, 198, 198, 0.593883);
    }
  }
  .jb-header{
    align-items: start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .icon{
      border: 1px solid #D5D5D5;
      border-radius: 8px;
      height: 65px;
      line-height: 65px;
      text-align: center;
      width: 65px;
    }
    .job-tag{
      border-radius: 4px;
      color: var(--text-white);
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.555556px;
      line-height: 18px;
      padding: 4px 10px;
      text-align: center;
    }
  }
  .title {
    line-height: 29px;
    margin-bottom: 20px;
    a{
      color: var(--dark-color);
    }
  }
  .jb-meta li{
    font-size: 14px;
    font-weight: 600;
  }
  &.style2{
    .inner-box{
      background-color: transparent;
      &:hover{
        box-shadow: none;
      }
    }
    .title{
      line-height: 36px;
      letter-spacing: 0.4px;
    }
    .text{
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
    }
  }
}