/***  Sliders  ***/
.default-navigation{
  height: auto;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 38%;
	.swiper-button-prev,
	.swiper-button-next,
	.swiper-button-prev2,
	.swiper-button-next2{
		background-color: var(--white-color);
		border-radius: 50%;
		box-shadow: 0px 3px 14px rgba(111, 111, 112, 0.156037);
		height: 48px;
		line-height: 48px;
		text-align: center;
		top: 44%;
		width: 48px;
    @include transition(.4s);
		&:after{
			display: none;
		}
		&:hover{
			background-color: var(--theme-color1);
			color: var(--white-color);
		}
	}
	.swiper-button-prev,
	.swiper-button-prev2{
		left: -70px;
		@media (max-width: 1499.98px){
			left: -5px;
		}
	}

	.swiper-button-prev2,
	.swiper-button-next2{
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
		position: absolute;
    top: 56%;
    z-index: 10;
    @include media-breakpoint-down(lg){
    	top: 63%;
    }
    @include media-breakpoint-down(md){
    	display: none;
    }
	}
	.swiper-button-next,
	.swiper-button-next2{
		right: -70px;
		@media (max-width: 1499.98px){
			right: -5px;
		}
	}
}
.swiper-pagination{
	margin-bottom: -10px;
	.swiper-pagination-bullet{
		background-color: var(--light-gray);
		opacity: 1;
		&.swiper-pagination-bullet-active{
			background-color: var(--theme-color1);			
		}
	}
}