.store-16-item {
  & img {
    @include transition(.5s);
  }
  & .text-content {
    margin-top: 22px;
    & .title {
      color: var(--dark-color);
      font-family: var(--montserrat-font);
      font-size: 16px;
      font-weight: var(--font-weight-600);
      line-height: 28px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    & .address{
      color: var(--dark-color);
      font-family: var(--montserrat-font);
      font-size: 13px;
      font-weight: var(--font-weight-400);
      line-height: 16px;
    }
    & .su-btn-4-black{
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      @include transition(.4s);
    }
  }
  &:hover {
    & .su-btn-4-black{
      opacity: 1;
      transform: translateY(0px);
      visibility: visible;
    }
    img {
      transform: scale(1.05);
    }
  }
}

.store-wrapper {
  .store-map {
    width: 98%;
    height: 1400px;
    @include media-breakpoint-down(xl) {
      width: 100%;
      height: 800px;
      margin-bottom: 30px;
    }
    @include media-breakpoint-down(md) {
      height: 400px;
      margin-bottom: 30px;
    }
    iframe {
      height: 100%;
    }
  }

  .store-sidebar {
    background-color: var(--white-color);
    padding: 30px;
    margin-bottom: 30px;
    .store-sidebar-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--dark-color);
      font-family: var(--body-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      text-transform: uppercase;
      padding-bottom: 20px;
    }
    .store-search-block {
      position: relative;
      input {
        width: 100%;
        border: 1px solid var(--gray-color);
        background: var(--white-color);
        padding: 12px 20px 12px 40px;
        &::placeholder {
          @include form-lebel-typo;
          color: var(--dark-color);
        }
      }
      button {
        position: absolute;
        top: 12px;
        background-color: transparent;
        left: 20px;
        color: var(--text-color);
        font-size: 13px;
      }
    }
    .store-contact-block {
      .store-location {
        display: flex;
        @include sub-title1;
        font-style: normal;
        gap: 10px;
      }
      .store-phone {
        @include sub-title1;
        display: flex;
        gap: 10px;
        padding-bottom: 14px;
      }
      .store-text {
        @include sub-title1;
        display: flex;
        gap: 10px;
        @include media-breakpoint-down(sm) {
          br {
            display: none;
          }
        }
      }
    }
  }
}