/*
 * tabs.scss
 * -----------------------------------------------
*/

// Tab Home 20 Style
.tab-content-wrapper {
    &.style20 {
        overflow: hidden;
        .tab-content {
            position: relative;
        }
        .tab-pane {
            display: block;
            left: 0;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
            visibility: hidden;
            z-index: 1;
            transition-timing-function: ease-in;
            transition-duration: 0.2s;
            &.active {
                pointer-events: auto;
                opacity: 1;
                visibility: visible;
                position: relative;
                z-index: 2;
                -webkit-transform: none;
                -ms-transform: none;
                transform: none; 
                transition-timing-function: ease-out;
                transition-duration: 0.3s;
                transition-delay: 0.3s;
            }
        }
    }
}


// Tab Home 23 Style
.exceptional-price-wrapper {
    &.style23 {
        .nav-link {
            padding: 0;
            margin-right: 30px;
            color: var(--text-color);
            border: 0;
            border-radius: 0;
        }

        .nav-pills .nav-link.active,
        .nav-pills .show>.nav-link {
            color: var(--dark-color);
            background-color: transparent;
            border-bottom: 1px solid var(--dark-color);
        }
        .tab-content {
            margin-right: -80px;
            transition: 0.3s all ease-in-out;
            position: relative;
        }
        .exceptional-card-wrapper {
            &.style23 {
                position: relative;
                overflow: hidden;
                margin-top: 20px;
                &:hover {
                    .exceptional-card-item {
                        &.style23_1 {
                            opacity: 0;
                            visibility: hidden;
                            transform: translateY(-50%);
                        }
                        &.style23_2 {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }

                .exceptional-card-item {
                    &.style23_1 {
                        transition: 0.4s all ease-in-out;
                        .thumb {
                            img {
                                width: 100%;
                            }
                        }
                        .content {
                            text-align: left;
                            padding-top: 16px;
                            .title {
                                color: var(--Black, #1D1D1D);
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.32px;
                            }
                            .text {
                                color: var(--text-color);
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.26px;
                                padding-top: 12px;
                            }
                        }
                    }

                    &.style23_2 {
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        transform: translateY(50%);
                        opacity: 0;
                        transition: 0.4s all ease-in-out;

                        .thumb {
                            img {
                                width: 100%;
                            }
                        }

                        .content {
                            position: absolute;
                            left: 0;
                            z-index: 9;
                            bottom: 40px;
                            padding: 0 30px;

                            .text {
                                color: var(--white-color);
                                text-align: center;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 26px;
                                letter-spacing: 0.28px;
                            }

                            .exceptional-btn-wrapper {
                                margin-top: 30px;

                                .theme-btn {
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .flat-animate-tab {
            overflow: hidden;
        }
        
        .flat-animate-tab .tab-content {
            position: relative;
        }
        
        .flat-animate-tab .tab-pane {
            display: block;
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            -webkit-transform: translateY(30px);
            -ms-transform: translateY(30px);
            transform: translateY(30px);
            transition-timing-function: ease-in;
            transition-duration: 0.2s;
        }
        
        .flat-animate-tab .tab-pane.active {
            pointer-events: auto;
            opacity: 1;
            visibility: visible;
            position: relative;
            z-index: 0;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            transition-timing-function: ease-out;
            transition-duration: 0.3s;
            transition-delay: 0.3s;
        }
        
        .tab-pane {
            display: block;
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            transition-timing-function: ease-in;
            transition-duration: 0.2s;
        
            &.active {
                pointer-events: auto;
                opacity: 1;
                visibility: visible;
                position: relative;
                z-index: 2;
                -webkit-transform: none;
                -ms-transform: none;
                transform: none;
                transition-timing-function: ease-out;
                transition-duration: 0.5s;
                transition-delay: 0.4s;
            }
        }
    }
}