/*
 * Testimonials.scss
 * -----------------------------------------------
*/
.su-testimonial-area {
  background: var(--theme-color11);
  .testimonial-15-item {
    .text {
      .rating {
        color: var(--black-color);
        @include media-breakpoint-down(md) {
          margin-bottom: 20px !important;
        }
        svg {
          width: 11px;
          height: 11px;
          margin-right: 2px;
        }
      }
      .info {
        color: var(--dark-color);
        font-family: var(--outfit-font);
        font-size: 22px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0.66px;
        @include media-breakpoint-down(xl) {
          line-height: 32px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 18px;
          line-height: 28px;
        }
      }
      .author {
        @include media-breakpoint-down(sm) {
          margin-top: 20px;
        }
        .name {
          color: var(--dark-color);
          font-family: var(--outfit-font);
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
        }
        .designation {
          color: var(--dark-color);
          font-family: var(--outfit-font);
          font-size: 15px;
          font-weight: 300;
          line-height: 28px;
        }
      }
    }
  }
  .su-testimonial-15-nav {
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      @include transition(0.4s);
      &:hover {
        background: var(--white-color);
      }
    }
    .prev {
      left: -50px;
      @include media-breakpoint-down(xl) {
        left: -30px !important;
      }
    }
    .next {
      right: -50px;
      @include media-breakpoint-down(xl) {
        right: -30px !important;
      }
    }
  }
}
// home 7 testimonial style
.su-testimonial-7-gallery{
    width: 100%;
    padding: 0px 120px;
    @media #{$sm,$xs} {
        padding: 0px;
    }
    .swiper-button-prev:after, .swiper-button-next:after {
        display: none;
    }
    .swiper-button-prev, .swiper-button-next {
        top: 40px;
    }
}
.su-testimonial-7-gallery-thumbs{
  .swiper-slide {
    width: 120px;
    height: 120px;
    text-align: center;
    overflow: hidden;
    opacity: 0.6;
    margin-top: 20px;
    img{
      height: 80px;
      border-radius: 30px;
      opacity: 0.4;
    }
    &.swiper-slide-prev,&.swiper-slide-next{
      margin-top: 10px !important;
    }
  }
  .swiper-slide.swiper-slide-prev img {
    height: 100px;
    border-radius: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    @media #{$xs} {
      height: 80px;
    }
  }
  .swiper-slide.swiper-slide-active img {
    opacity: 1;
    visibility: visible;
    height: 120px;
    border-radius: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    @media #{$xs} {
      height: 100px;
    }
  }
  .swiper-slide-active {
    opacity: 1;
    margin-top: 0px !important;
  }
  .swiper-slide.swiper-slide-next img {
    height: 100px;
    border-radius: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    @media #{$xs} {
      height: 80px;
    }
  }
}
.su-testimonial-7-bg{
    background: #f8f7f1;
    padding-top: 180px;
    padding-bottom: 175px;
    @media #{$md,$sm,$xs} {
      padding-top: 130px;
      padding-bottom: 125px;
    }
    .su-testimonial-7-gallery-slider{
      .widget-saying-item {
        .name{
          font-weight: 400;
          font-size: 18px;
          color: var(--dark-color);
        }
        .cto{
          font-weight: 300;
          font-size: 15px;
          color: var(--dark-color);
          display: block;
        }
        .ratings{
          margin-bottom: 15px;
          color: var(--dark-color);
          & i{
            margin: 0 3px;
          }
        }
      }
      .widget-saying-content{
        .text{
          font-weight: 500;
          font-size: 24px;
          letter-spacing: 0.03em;
          line-height: 40px;
          color: var(--dark-color);
          @media #{$xs} {
            font-size: 20px;
          }
        }
      }
    }
    &.style19 {
    padding-top: 160px;
    padding-bottom: 160px;
    margin-top: 160px;
    @include media-breakpoint-down(lg) {
      padding: 120px 0;
      margin-top: 120px;
    }
    .su-testimonial-7-gallery-slider {
      .widget-saying-content {
        .text {
          font-size: 26px;
          font-family: var(--jost-font);
          font-weight: 400;
          line-height: 40px;
          letter-spacing: 0.78px;
          @include media-breakpoint-down(md) {
            font-size: 18px;
            line-height: 30px;
          }
        }
      }
      .widget-saying-item {
        .name {
          font-family: var(--outfit-font);
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
        }
        .cto {
          font-family: var(--outfit-font);
          font-size: 15px;
          font-weight: 400;
          line-height: 30px;
        }
      }
    }
  }
    &.shop-testimonial {
    padding-top: 180px;
    padding-bottom: 180px;
    @include media-breakpoint-down(lg) {
      padding: 120px 0;
      margin-top: 120px;
    }
    .su-testimonial-7-gallery-slider {
      .widget-saying-content {
        .text {
          font-size: 26px;
          font-family: var(--jakarta-font);
          font-weight: 500;
          line-height: 40px;
          letter-spacing: 0.78px;
          @include media-breakpoint-down(lg){
            font-size: 20px;
            line-height: 30px;
          }
          @include media-breakpoint-down(sm){
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }
  }
}

// home 8 testimonial style
.su-testimonal-8-wrap{
  padding: 0 250px;
  @media #{$lg} {
    padding: 0 120px;
  }
  @media #{$md,$sm} {
    padding: 0 50px;
  }
  @media #{$xs} {
    padding: 0;
  }
  .text{
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    @media #{$xs} {
      font-size: 16px;
      line-height: 35px;
    }
  }
  .ratings i{
    font-size: 12px;
    color: var(--dark-color);
    margin: 0 2px;
  }
  .position{
    font-family: var(--outfit-font);
    font-weight: 400;
    font-size: 18px;
    color: var(--black-color);
  }
  .navigation{
    .testimonal-next{
      left: auto;
      right: 50px;
      @media #{$md,$sm,$xs} {
        right: 0;
      }
    }
  }
  .navigation span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    border: 1px solid var(--gray-color);
    border-radius: 50px;
    width: 49px;
    height: 50px;
    line-height: 44px;
    background: var(--white-color);
    display: inline-block;
    text-align: center;
    transition: all 0.4s ease;
    cursor: pointer;
    z-index: 2;
    @media #{$md,$sm,$xs} {
      left: 0;
    }
    @media #{$xs} {
      top: 0;
    }
    &:hover{
      background: var(--black-color);
      color: var(--white-color);
      border-color: var(--black-color);
    }
  }
}
.su-testimonial-area {
  .testimonial-15-item {
    .text {
      .rating {
        color: var(--black-color);
        @include media-breakpoint-down(md) {
          margin-bottom: 20px !important;
        }
        svg {
          width: 11px;
          height: 11px;
          margin-right: 2px;
        }
      }
      .info {
        color: var(--dark-color);
        font-family: var(--outfit-font);
        font-size: 22px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0.66px;
        @include media-breakpoint-down(xl) {
          line-height: 32px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 18px;
          line-height: 28px;
        }
      }
      .author {
        @include media-breakpoint-down(sm) {
          margin-top: 20px;
        }
        .name {
          color: var(--dark-color);
          font-family: var(--outfit-font);
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
        }
        .designation {
          color: var(--dark-color);
          font-family: var(--outfit-font);
          font-size: 15px;
          font-weight: 300;
          line-height: 28px;
        }
      }
    }
  }
  .su-testimonial-15-nav {
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      @include transition(0.4s);
      &:hover {
        background: var(--white-color);
      }
    }
    .prev {
      left: -50px;
    }
    .next {
      right: -50px;
    }
  }
}

// home 17 testimonial style
.testimonial-home17-nav {
  span {
    align-items: center;
    bottom: 70px;
    display: flex;
    justify-content: center;
    position: absolute;
    @include transition(0.4s);
    z-index: 9;
    @include media-breakpoint-down(xxl) {
      bottom: 0px;
    }
    @include media-breakpoint-down(lg) {
      bottom: -50px;
    }
  }
  .prev {
    left: 15px;
  }
  .next {
    left: 70px;
    right: auto;
  }
}

.testimonial-item-home17 {
  .thumb{
    position: relative;
    .su-btn-4{
      border-radius: 120px;
      bottom: 20px;
      left: 20px;
      position: absolute;
    }
  }
  .rating {
    color: var(--black-color);
    svg {
      width: 11px;
      height: 11px;
      margin-right: 2px;
    }
  }
  .text {
    color: var(--dark-color5);
    font-family: var(--marcellus-font);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03em;
  }
  .name {
    color: var(--dark-color5);
    font-family: var(--jost-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.62;
    text-transform: uppercase;
  }
  .designation {
    color: var(--dark-color5);
    font-family: var(--jost-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.62;
  }
}

// home 21 testimonial style
.testimonial-wrapper {
  &.style21 {
    padding: 20px 0 10px 0;
    position: relative;
    .testimonial-content {
      margin: 0 auto;
      max-width: 992px;
      text-align: center;
      overflow: hidden;
      @include media-breakpoint-down(lg) {
        padding:  0 20px;
        width: 100%;
      }
      .icon {
        margin-bottom: 40px;
        @include media-breakpoint-down(xs){
          margin-bottom: 20px;
        }
      }
      .text {
        color: var(--white-color);
        font-style: normal;
        font-weight: 500;
        padding: 0 30px;
        padding-bottom: 36px;
        @include responsive-font(18px, 3.12vw, 26px, 1.92);
        @include media-breakpoint-down(lg) {
         padding-bottom: 20px;
        }
        @include media-breakpoint-down(md) {
          padding: 0 0 10px 0;
        }
      }
      .testimonial-bottom {
        .ratting {
          ul{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 11px;
            gap: 6px;
            color: var(--white-color);
          }
        }
        .auth {
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          color: var(--white-color);
          padding-top: 8px;
        }
      }
    }
    .swiper-arrow{
      .next{
        align-items: center;
        background-color: var(--dark-color);
        border-radius: 50%;
        color: var(--white-color);
        display: flex;
        font-size: 20px;
        height: 50px;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        z-index: 99;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
      .prev{
        align-items: center;
        background-color: var(--dark-color);
        border-radius: 50%;
        color: var(--white-color);
        display: flex;
        font-size: 20px;
        height: 50px;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        z-index: 99;
        @include media-breakpoint-down(md) {
            display: none;
        }
      }
    }
  }
}
// home 23 testimonial style
.testimonial-slider-wrapper {
  &.style23 {
    .slider-content {
      text-align: center;
      padding: 0 80px;
      @include media-breakpoint-down(xxl) {
        padding: 0 20px;
      }
      .title {
        color: var(--dark-color);
        font-family: var(--title-font3);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .text {
        color: var(--dark-color);
        font-family: var(--title-font2);
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;
        padding-top: 56px;
        @include media-breakpoint-down(md) {
          padding-top: 20px;
          font-size: 24px;
          line-height: 34px;
        }
      }
    }
    .testi-thumb-slider {
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
      margin-top: 80px;
      @include media-breakpoint-down(lg) {
        margin-top: 30px;
      }
      .swiper-wrapper {
        margin: 0;
        padding: 0;
        transform: translate3d(0px, 0px, 0px 0px);
        transform: translateX(11%) !important;
      }
      .swiper-slide {
        max-width: 100%;
        &.swiper-slide-active{
          img{
            opacity: 100%;
          }
        }
        img {
          opacity: 30%;
          transition: 0.3s all ease-in-out;
          &:hover {
            opacity: 100%;
          }
        }
      }
    }
  }
}

