/***  Page Titles Styles  ***/
.su-section{
    &-4{
        &-title{
            color: var(--text-black);
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 0.03em;
        }
    }
}
.breadcrumb-list{
    position: relative;
    ul{
        position: relative;
        @include media-breakpoint-down(md) {
            display: flex;
            overflow-x: auto;
        }
    }
    li{
        min-width: fit-content;
        padding-right: 60px;
        @include media-breakpoint-down(xl) {
            padding-right: 30px;
        }
        @include media-breakpoint-down(lg) {
            margin-bottom: 30px;
        }
        &:last-child{
            padding-right: 0;
        }
        i{
            color: var(--dark-color);
        }
    }
    li.active{
        a{
            border-bottom: 2px solid var(--dark-color);
            color: var(--dark-color);
            padding-bottom: 16px;
        }
    }
    a{
        color: var(--text-color);
        font-family: var(--jakarta-font);
        font-style: normal;
        font-size: 20px;
        font-weight: 600;
        line-height: 34px;
        text-align: center;
        text-transform: uppercase;
    }
}