//Root 
@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

//Define theme colors
$theme-color1: #F56300;
$theme-color2: #0BB289;
$theme-color3: #56ABFF;
$theme-color4: #8330C2;
$theme-color5: #FF8646;
$theme-color6: #11AB8B;
$theme-color7: #0176EA;



$review-color: #F8B68A;
$theme-color-white: #ffffff;
$white-color-rgb: 255,255,255;
$body-color: #545454;
$light-gray: #D5D5D5;
$bluish-gray: #F2F2F9;
$theme-color-gray: #8b8b8b;
$theme-color-dark: #151517;
$theme-color-dark2: #352F27;
$theme-color-black: #000000;
$theme-color-black-rgb: 0,0,0;


:root {
  //theme color
  --theme-color1: #{$theme-color1};
  --theme-color2: #{$theme-color2};
  --theme-color3: #{$theme-color3};
  --theme-color4: #{$theme-color4};
  --theme-color5: #{$theme-color5};
  --theme-color6: #{$theme-color6};
  --theme-color7: #{$theme-color7};
  --body-color:   #{$body-color};
  --light-gray:   #{$light-gray};
  --bluish-gray:   #{$bluish-gray};
  --gray-color:   #{$theme-color-gray};
  
  
  --dark-color:   #{$theme-color-dark};
  --dark-color2:  #{$theme-color-dark2};
  
  --black-color:  #{$theme-color-black};
  --black-color-rgb:  #{$theme-color-black-rgb};
  --white-color:  #{$theme-color-white};  
  --white-color-rgb:  #{$white-color-rgb};
  --review-color:   #{$review-color};

  
  //theme colors RGB
  --theme-color1-rgb: #{hexToRGB($theme-color1)};
  --theme-color2-rgb: #{hexToRGB($theme-color2)};


  //text heading color
  --text-black:         var(--black-color);
  --text-white:         var(--white-color);
  --text-color:         var(--body-color);
  --text-gray:          var(--gray-color);
  --text-dark:          #797f7d;
  --text-dark2:         #141416;
  --headings-color:     var(--dark-color);
  --link-color:         var(--dark-color2);
  

  //font families
  --suse-font: "SUSE", sans-serif;

  --jakarta-font: "Plus Jakarta Sans", sans-serif;
  --jost-font: "Jost", sans-serif;


  //font family variables
  --body-font: var(--suse-font);
  --text-font: var(--body-font);

  --title-font: var(--suse-font);

  --headings-font: var(--title-font);


  //body
  --font-size-13:           13px;
  --font-size-14:           14px;
  --font-size-15:           15px;
  --font-size-16:           16px;
  --body-font-size:         var(--font-size-16);
  --body-font-weight:       400;
  --body-font-weight-bold:  600;
  --body-line-height:       1.71;


  //heading font size + weight
  --line-height-heading: 1.2;
  --line-height-heading2: 1.75;
  --line-height-heading-h1: 1.1;
  --line-height-heading-small: 1.4;


  --h1-font-size:     50px;
  --h2-font-size:     36px;
  --h3-font-size:     30px;
  --h4-font-size:     24px;
  --h5-font-size:     20px;
  --h6-font-size:     16px;


  --h1-font-weight: 700;
  --h2-font-weight: 700;
  --h3-font-weight: 700;
  --h4-font-weight: 700;
  --h5-font-weight: 700;
  --h6-font-weight: 700;


  //section title
  --sec-title-color:                 var(--headings-color);
  --sec-title-font-size:             var(--h2-font-size);
  --sec-title-font-family:           var(--title-font);
  --sec-title-font-weight:           var(--h2-font-weight);

  //section sub title
  --sec-title-subtitle-color:        #819291;
  --sec-title-subtitle-font-size:    16px;
  --sec-title-subtitle-font-family:  var(--text-font);
  --font-weight-400:  400;
  --font-weight-500:  500;
  --font-weight-600:  600;
  --font-weight-700:  700;

  //container
}