
/*
 * section-title.scss
 * -----------------------------------------------
*/
.section-title{
    margin-bottom: 50px;
    .sub-title{
        @include sub-title1;
    }
    .title{
        @include sec-title1;
        &.roboto-font{
            font-family: var(--roboto-font);
        }
    }
    &.style2{
        .title{
            font-size: 40px;
            font-weight: 400;
            font-family: var(--marcellus-font);
        }
    }
    &.style5{
        .title{
            font-family: var(--jakarta-font);
            font-style: normal;
            font-weight: var(--font-weight-600);
            font-size: 30px;
            line-height: 38px;
            letter-spacing: 0.03em;
        }
    }
    &.style11 {
        .title {
            font-family: var(--jost-font);
            font-size: 24px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.72px;
        }
    }
    &.style12 {
        .title {
            color: var(--dark-color);
            font-family: var(--dmsans-font);
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.03em;
            @include responsive-font(28px, 2.25vw, 36px, 1.30);
        }
    }
    &.home13 {
        .title {
            font-weight: 400;
            letter-spacing: 0.05em;
            @include responsive-font(28px, 3.12vw, 50px, 1.2);
        }
    }
    &.style14 {
        .sub-title {
            color: var(--dark-color);
            font-family: var(--opensans-font);
            font-size: 13px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.28px;
            margin-bottom: 10px;
        }
        .title {
            font-size: 30px;
            font-weight: 600;
            color: var(--dark-color);
            font-family: var(--jakarta-font);
        }
        .title2 {
            color: var(--dark-color);
            font-family: var(--opensans-font);
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            padding-bottom: 5px;
            @include responsive-font(30px, 2.5vw, 40px, 1.33);
        }
        .short-info {
            color: var(--theme-color9);
            font-family: var(--opensans-font);
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
        }
    }
    &.style15 {
        .sub-title {
            color: var(--dark-color);
            font-family: var(--outfit-font);
            font-size: 14px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.28px;
        }
        .title {
            font-weight: 400;
            color: var(--dark-color);
            @include responsive-font(26px, 2.25vw, 36px, 1.66);
        }
    }
    &.home16{
        .sub-title,
        .subtitle{
            color: var(--dark-color);
            font-weight: var(--font-weight-600);
            font-size: 13px;
            font-family: var(--opensans-font);
            margin-bottom: 10px;
        }
        .title{
            font-size: 40px;
            font-family: var(--lora-font);
            font-weight: var(--font-weight-400);
        }
        .text{
            font-family: var(--montserrat-font);
            font-size: 14px;
            font-weight: var(--font-weight-500);
            color: var(--text-dark2);
        }
    }
    &.home17{
        .sub-title,
        .subtitle,
        .text{
            font-size: 16px;
            font-family: var(--jost-font);
        }
        .title{
            color: var(--dark-color5);
            font-family: var(--marcellus-font);
            font-size: 40px;
            font-weight: 400;
            line-height: 1.31;
        }
    }
    &.home18{
        .sub-title,
        .subtitle,
        .text{
            font-size: 16px;
        }
        .title{
            color: var(--dark-color5);
            font-size: 38px;
            font-weight: 400;
            line-height: 1.31;
        }
    }
    &.home19 {
        .sub-title {
            font-family: var(--jost-font);
            font-size: 14px;
            font-weight: 500;
            line-height: normal;
        }
        .title {
            color: var(--dark-color);
            font-family: var(--cormorant-font);
            font-weight: 400;
            line-height: normal;
            text-transform: unset;
            @include responsive-font(40px, 3.75vw, 60px, 1.21);
        }
    }
    &.home20{
        .sub-title {
            font-size: 14px;
            font-weight: 500;
            line-height: normal;
        }
        .title{
            font-weight: var(--font-weight-700);
            @include responsive-font(24px, 2.5vw, 40px, 1.17);
        }
    }
    &.home21{
        .sub-title {
            color: var(--dark-color);
            font-size: 15px;
            font-weight: 400;
            line-height: 26px;
            text-transform: uppercase;
        }
        .title{
            font-weight: var(--font-weight-500);
            @include responsive-font(24px, 2.5vw, 40px, 1.3);
        }
    }
    &.home22{
        .title{
            @include responsive-font(24px, 3.12vw, 40px, 1.5);
            font-style: normal;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
        a{
            span{
                font-family: var(--dmsans-font);
            }
        }
    }
    &.home23{
        .title{
            letter-spacing: 0.03em;
            text-transform: capitalize;
            @include responsive-font(24px, 3.12vw, 50px, 1.26);
        }
        a{
            span{
                font-weight: 500;
                font-family: var(--dmsans-font);
            }
        }
        .title-btn-wrapper {
            .swiper-arrow {
                display: flex;
                align-items: center;
                gap: 30px;
            }
            a {
                color: var(--dark-color);
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                letter-spacing: 0.26px;
                line-height: normal;
                span {
                    padding-left: 6px;
                }
            }
        }
    }
    &.home24{
        .title{
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            @include responsive-font(24px, 3.12vw, 40px, 1.45);
        }
        a{
            span{
                font-weight: 500;
                font-family: var(--dmsans-font);
            }
        }
    }
    &.home25{
        .title{
            color: var(--dark-color7);
            font-weight: 400;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            @include responsive-font(24px, 3.12vw, 40px, 1.75);
        }
        a{
            span{
                font-weight: 400;
                font-family: var(--jost-font);
            }
        }
    }
}

.su-collections-4-title {
    letter-spacing: 0.03em;
}
.su-section-5-title{
    letter-spacing: 0.03em;
}
.su-section-5-subtitle{
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    display: inline-block;
}
.su-section-8-title{
    font-family: var(--marcellus-font);
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 0.03em;
    color: var(--dark-color);
}
// shop title
.shop-title {
    .title {
        color: var(--dark-color);
        font-family: var(--jakarta-font);
        font-size: 30px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.9px;
    }

    .text {
        color: var(--dark-color);
        font-family: var(--jakarta-font);
        font-size: 13px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.26px;
    }
}